### 환산임대료 데이터 수집(웹 크롤링)

In [ ]:
# 라이브러리 불러오기
from selenium import webdriver
import time
from bs4 import BeautifulSoup as bf

In [ ]:
# '서울시 우리마을가게 상권분석서비스'로부터 행정동 별 환산임대료 웹 크롤링(html 코드 불러오기)
driver = webdriver.Chrome('C:\\Users\\dlqls\\anaconda3\\Lib\\site-packages\\selenium\\crawling\\chromedriver')
driver.get('https://golmok.seoul.go.kr/stateArea.do')

driver.maximize_window()
time.sleep(5)

bt1 = driver.find_element("xpath", '//*[@id="rent"]')
bt1.click()
bt2 = driver.find_element("xpath", '//*[@id="selectYear"]')
bt2.click()
bt3 = driver.find_element("xpath", '//*[@id="selectYear"]/option[2]')
bt3.click()
bt4 = driver.find_element("xpath", '//*[@id="presentSearch"]')
bt4.click()

# html = driver.page_source

driver.execute_script("document.body.style.zoom='40%'")

# a1 = driver.find_element("xpath", "//table[@id='table2']/tbody/tr[@class='branch collapsed']/td[1]/span/a")
# a1.click()

element = driver.find_element("xpath", '/html/body/div[1]')

driver.quit

<ipython-input-3-341e9e2d5d14>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:\\Users\\dlqls\\anaconda3\\Lib\\site-packages\\selenium\\crawling\\chromedriver')

In [ ]:
ele = element.get_attribute('innerHTML')

In [ ]:
soup = bf(ele, 'html.parser')

#### 행정동 데이터 추출

In [ ]:
import numpy as np
import re

In [ ]:
addrs = soup.find_all(class_='addr active')

In [ ]:
dong = []

for addr in addrs:
    txt = re.sub('(<([^>]+)>)', '', str(addr))
    txt = re.sub('\\xa0', '', str(txt))
    dong.append(txt)
    
print(dong)

['서울시 전체', '종로구', '청운효자동', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동', '종로1.2.3.4가동', '종로5.6가동', '이화동', '혜화동', '창신1동', '창신2동', '창신3동', '숭인1동', '숭인2동', '중구', '소공동', '회현동', '명동', '필동', '장충동', '광희동', '을지로동', '신당동', '다산동', '약수동', '청구동', '신당5동', '동화동', '황학동', '중림동', '용산구', '후암동', '용산2가동', '남영동', '청파동', '원효로1동', '원효로2동', '효창동', '용문동', '한강로동', '이촌1동', '이촌2동', '이태원1동', '이태원2동', '한남동', '서빙고동', '보광동', '성동구', '왕십리2동', '왕십리도선동', '마장동', '사근동', '행당1동', '행당2동', '응봉동', '금호1가동', '금호2.3가동', '금호4가동', '옥수동', '성수1가1동', '성수1가2동', '성수2가1동', '성수2가3동', '송정동', '용답동', '광진구', '화양동', '군자동', '중곡1동', '중곡2동', '중곡3동', '중곡4동', '능동', '광장동', '자양1동', '자양2동', '자양3동', '자양4동', '구의1동', '구의2동', '구의3동', '동대문구', '용신동', '제기동', '전농1동', '전농2동', '답십리1동', '답십리2동', '장안1동', '장안2동', '청량리동', '회기동', '휘경1동', '휘경2동', '이문1동', '이문2동', '중랑구', '면목2동', '면목4동', '면목5동', '면목본동', '면목7동', '면목3.8동', '상봉1동', '상봉2동', '중화1동', '중화2동', '묵1동', '묵2동', '망우본동', '망우3동', '신내1동', '신내2동', '성북구', '성북동', '삼선동', '동선동', '돈암1동', '돈암2동', '안암동', '보문동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '길음1동', '길음2동', '종암동', '월곡1동', '월곡2동', '장위1동', '장위2동', '장위3동', '석관동', '강북구', '삼양동', '미아동', '송중동', '송천동', '삼각산동', '번1동', '번2동', '번3동', '수유1동', '수유2동', '수유3동', '우이동', '인수동', '도봉구', '창1동', '창2동', '창3동', '창4동', '창5동', '도봉1동', '도봉2동', '쌍문1동', '쌍문2동', '쌍문3동', '쌍문4동', '방학1동', '방학2동', '방학3동', '노원구', '월계1동', '월계2동', '월계3동', '공릉1동', '공릉2동', '하계1동', '하계2동', '중계본동', '중계1동', '중계4동', '중계2.3동', '상계1동', '상계2동', '상계3.4동', '상계5동', '상계6.7동', '상계8동', '상계9동', '상계10동', '은평구', '녹번동', '불광1동', '불광2동', '갈현1동', '갈현2동', '구산동', '대조동', '응암1동', '응암2동', '응암3동', '역촌동', '신사1동', '신사2동', '증산동', '수색동', '진관동', '서대문구', '천연동', '북아현동', '충현동', '신촌동', '연희동', '홍제1동', '홍제3동', '홍제2동', '홍은1동', '홍은2동', '남가좌1동', '남가좌2동', '북가좌1동', '북가좌2동', '마포구', '아현동', '공덕동', '도화동', '용강동', '대흥동', '염리동', '신수동', '서강동', '서교동', '합정동', '망원1동', '망원2동', '연남동', '성산1동', '성산2동', '상암동', '양천구', '목1동', '목2동', '목3동', '목4동', '목5동', '신월1동', '신월2동', '신월3동', '신월4동', '신월5동', '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정4동', '신정6동', '신정7동', '강서구', '염창동', '등촌1동', '등촌2동', '등촌3동', '화곡1동', '화곡2동', '화곡3동', '화곡4동', '화곡본동', '화곡6동', '화곡8동', '가양1동', '가양2동', '가양3동', '발산1동', '우장산동', '공항동', '방화1동', '방화2동', '방화3동', '구로구', '신도림동', '구로1동', '구로2동', '구로3동', '구로4동', '구로5동', '가리봉동', '고척1동', '고척2동', '개봉1동', '개봉2동', '개봉3동', '오류1동', '오류2동', '수궁동', '금천구', '가산동', '독산1동', '독산2동', '독산3동', '독산4동', '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동', '영등포구', '영등포본동', '영등포동', '여의동', '당산1동', '당산2동', '도림동', '문래동', '양평1동', '양평2동', '신길1동', '신길3동', '신길4동', '신길5동', '신길6동', '신길7동', '대림1동', '대림2동', '대림3동', '동작구', '노량진1동', '노량진2동', '상도1동', '상도2동', '상도3동', '상도4동', '흑석동', '사당1동', '사당2동', '사당3동', '사당4동', '사당5동', '대방동', '신대방1동', '신대방2동', '관악구', '보라매동', '청림동', '성현동', '행운동', '낙성대동', '청룡동', '은천동', '중앙동', '인헌동', '남현동', '서원동', '신원동', '서림동', '신사동', '신림동', '난향동', '조원동', '대학동', '삼성동', '미성동', '난곡동', '서초구', '서초1동', '서초2동', '서초3동', '서초4동', '잠원동', '반포본동', '반포1동', '반포2동', '반포3동', '반포4동', '방배본동', '방배1동', '방배2동', '방배3동', '방배4동', '양재1동', '양재2동', '내곡동', '강남구', '신사동', '논현1동', '논현2동', '압구정동', '청담동', '삼성1동', '삼성2동', '대치1동', '대치2동', '대치4동', '역삼1동', '역삼2동', '도곡1동', '도곡2동', '개포1동', '개포2동', '개포4동', '세곡동', '일원본동', '일원1동', '일원2동', '수서동', '송파구', '풍납1동', '풍납2동', '거여1동', '거여2동', '마천1동', '마천2동', '방이1동', '방이2동', '오륜동', '오금동', '송파1동', '송파2동', '석촌동', '삼전동', '가락본동', '가락1동', '가락2동', '문정1동', '문정2동', '장지동', '위례동', '잠실본동', '잠실2동', '잠실3동', '잠실4동', '잠실6동', '잠실7동', '강동구', '강일동', '상일동', '명일1동', '명일2동', '고덕1동', '고덕2동', '암사1동', '암사2동', '암사3동', '천호1동', '천호2동', '천호3동', '성내1동', '성내2동', '성내3동', '길동', '둔촌1동', '둔촌2동', '서울시 전체', '종로구', '청운효자동', '사직동', '삼청동', '부암동', '평창동', '무악동', '교남동', '가회동', '종로1.2.3.4가동', '종로5.6가동', '이화동', '혜화동', '창신1동', '창신2동', '창신3동', '숭인1동', '숭인2동', '중구', '소공동', '회현동', '명동', '필동', '장충동', '광희동', '을지로동', '신당동', '다산동', '약수동', '청구동', '신당5동', '동화동', '황학동', '중림동', '용산구', '후암동', '용산2가동', '남영동', '청파동', '원효로1동', '원효로2동', '효창동', '용문동', '한강로동', '이촌1동', '이촌2동', '이태원1동', '이태원2동', '한남동', '서빙고동', '보광동', '성동구', '왕십리2동', '왕십리도선동', '마장동', '사근동', '행당1동', '행당2동', '응봉동', '금호1가동', '금호2.3가동', '금호4가동', '옥수동', '성수1가1동', '성수1가2동', '성수2가1동', '성수2가3동', '송정동', '용답동', '광진구', '화양동', '군자동', '중곡1동', '중곡2동', '중곡3동', '중곡4동', '능동', '광장동', '자양1동', '자양2동', '자양3동', '자양4동', '구의1동', '구의2동', '구의3동', '동대문구', '용신동', '제기동', '전농1동', '전농2동', '답십리1동', '답십리2동', '장안1동', '장안2동', '청량리동', '회기동', '휘경1동', '휘경2동', '이문1동', '이문2동', '중랑구', '면목2동', '면목4동', '면목5동', '면목본동', '면목7동', '면목3.8동', '상봉1동', '상봉2동', '중화1동', '중화2동', '묵1동', '묵2동', '망우본동', '망우3동', '신내1동', '신내2동', '성북구', '성북동', '삼선동', '동선동', '돈암1동', '돈암2동', '안암동', '보문동', '정릉1동', '정릉2동', '정릉3동', '정릉4동', '길음1동', '길음2동', '종암동', '월곡1동', '월곡2동', '장위1동', '장위2동', '장위3동', '석관동', '강북구', '삼양동', '미아동', '송중동', '송천동', '삼각산동', '번1동', '번2동', '번3동', '수유1동', '수유2동', '수유3동', '우이동', '인수동', '도봉구', '창1동', '창2동', '창3동', '창4동', '창5동', '도봉1동', '도봉2동', '쌍문1동', '쌍문2동', '쌍문3동', '쌍문4동', '방학1동', '방학2동', '방학3동', '노원구', '월계1동', '월계2동', '월계3동', '공릉1동', '공릉2동', '하계1동', '하계2동', '중계본동', '중계1동', '중계4동', '중계2.3동', '상계1동', '상계2동', '상계3.4동', '상계5동', '상계6.7동', '상계8동', '상계9동', '상계10동', '은평구', '녹번동', '불광1동', '불광2동', '갈현1동', '갈현2동', '구산동', '대조동', '응암1동', '응암2동', '응암3동', '역촌동', '신사1동', '신사2동', '증산동', '수색동', '진관동', '서대문구', '천연동', '북아현동', '충현동', '신촌동', '연희동', '홍제1동', '홍제3동', '홍제2동', '홍은1동', '홍은2동', '남가좌1동', '남가좌2동', '북가좌1동', '북가좌2동', '마포구', '아현동', '공덕동', '도화동', '용강동', '대흥동', '염리동', '신수동', '서강동', '서교동', '합정동', '망원1동', '망원2동', '연남동', '성산1동', '성산2동', '상암동', '양천구', '목1동', '목2동', '목3동', '목4동', '목5동', '신월1동', '신월2동', '신월3동', '신월4동', '신월5동', '신월6동', '신월7동', '신정1동', '신정2동', '신정3동', '신정4동', '신정6동', '신정7동', '강서구', '염창동', '등촌1동', '등촌2동', '등촌3동', '화곡1동', '화곡2동', '화곡3동', '화곡4동', '화곡본동', '화곡6동', '화곡8동', '가양1동', '가양2동', '가양3동', '발산1동', '우장산동', '공항동', '방화1동', '방화2동', '방화3동', '구로구', '신도림동', '구로1동', '구로2동', '구로3동', '구로4동', '구로5동', '가리봉동', '고척1동', '고척2동', '개봉1동', '개봉2동', '개봉3동', '오류1동', '오류2동', '수궁동', '금천구', '가산동', '독산1동', '독산2동', '독산3동', '독산4동', '시흥1동', '시흥2동', '시흥3동', '시흥4동', '시흥5동', '영등포구', '영등포본동', '영등포동', '여의동', '당산1동', '당산2동', '도림동', '문래동', '양평1동', '양평2동', '신길1동', '신길3동', '신길4동', '신길5동', '신길6동', '신길7동', '대림1동', '대림2동', '대림3동', '동작구', '노량진1동', '노량진2동', '상도1동', '상도2동', '상도3동', '상도4동', '흑석동', '사당1동', '사당2동', '사당3동', '사당4동', '사당5동', '대방동', '신대방1동', '신대방2동', '관악구', '보라매동', '청림동', '성현동', '행운동', '낙성대동', '청룡동', '은천동', '중앙동', '인헌동', '남현동', '서원동', '신원동', '서림동', '신사동', '신림동', '난향동', '조원동', '대학동', '삼성동', '미성동', '난곡동', '서초구', '서초1동', '서초2동', '서초3동', '서초4동', '잠원동', '반포본동', '반포1동', '반포2동', '반포3동', '반포4동', '방배본동', '방배1동', '방배2동', '방배3동', '방배4동', '양재1동', '양재2동', '내곡동', '강남구', '신사동', '논현1동', '논현2동', '압구정동', '청담동', '삼성1동', '삼성2동', '대치1동', '대치2동', '대치4동', '역삼1동', '역삼2동', '도곡1동', '도곡2동', '개포1동', '개포2동', '개포4동', '세곡동', '일원본동', '일원1동', '일원2동', '수서동', '송파구', '풍납1동', '풍납2동', '거여1동', '거여2동', '마천1동', '마천2동', '방이1동', '방이2동', '오륜동', '오금동', '송파1동', '송파2동', '석촌동', '삼전동', '가락본동', '가락1동', '가락2동', '문정1동', '문정2동', '장지동', '위례동', '잠실본동', '잠실2동', '잠실3동', '잠실4동', '잠실6동', '잠실7동', '강동구', '강일동', '상일동', '명일1동', '명일2동', '고덕1동', '고덕2동', '암사1동', '암사2동', '암사3동', '천호1동', '천호2동', '천호3동', '성내1동', '성내2동', '성내3동', '길동', '둔촌1동', '둔촌2동']

In [ ]:
len(dong)
dong = dong[:450]

#### 임대료 데이터 추출

In [ ]:
# 19년도 환산임대료 추출
rents_19 = soup.select('#table1 > tbody > tr > td:nth-child(2)')
print(len(rents_19))

rent_19 = []

for rent in rents_19:
    rt = re.sub('(<([^>]+)>)', '', str(rent))
    rent_19.append(rt)
    
print(rent_19)

450
['119,697', '185,536', '130,207', '136,152', '177,719', '91,355', '89,026', ' ', '193,491', '154,294', '204,300', '257,199', '129,692', '136,165', '166,099', '81,500', ' ', '83,943', '90,092', '227,851', '149,349', '307,654', '179,208', '103,082', '94,449', '182,806', '124,007', '360,285', '103,873', '118,546', '91,996', '129,742', '97,244', '131,588', '111,426', '111,681', '97,799', '93,593', '93,645', '105,276', '81,362', '88,086', '102,721', '113,536', '108,322', '167,197', ' ', '163,063', '127,919', '130,445', '114,284', '93,647', '102,663', '80,835', '126,004', '103,003', '113,899', '139,979', '104,912', '102,039', '112,704', '117,014', '82,179', '141,961', '88,942', '106,834', '68,222', '99,364', '83,374', '92,871', '102,179', '131,177', '97,589', '80,351', '76,465', '71,989', '93,739', '113,951', '111,763', '113,932', '90,579', '129,440', '120,969', '89,252', '116,120', '91,608', '86,019', '78,793', '91,771', '82,392', '96,421', '102,289', '77,443', '76,325', '79,725', '77,813', '122,299', '95,578', '105,126', '103,328', '59,458', '78,111', '60,724', '53,844', '57,709', '82,485', '117,778', '80,536', '93,308', '90,595', '59,213', '83,393', '86,018', '64,077', '70,275', '52,717', '79,824', '96,612', '90,041', '118,593', '93,204', '113,902', '76,791', ' ', '88,648', '81,943', '64,566', '75,964', '100,436', '111,597', '147,630', '94,100', '90,431', '76,066', '77,493', '50,320', '67,607', '83,285', '81,557', '88,960', '81,331', '89,577', '94,076', '86,023', '140,518', '82,874', '79,940', '77,820', '80,310', '91,115', '106,704', '70,431', '59,470', '84,590', '67,263', '73,433', '81,634', '132,533', '93,140', '89,269', '73,602', ' ', '81,575', '89,270', '69,920', '101,020', '70,324', '57,152', '105,867', '112,262', ' ', '136,928', '91,293', '106,708', '90,983', '161,762', '84,135', '129,795', '103,839', '139,386', '99,173', '139,350', '67,397', '64,639', '120,098', '99,266', '106,399', ' ', '92,858', '82,967', '97,211', '97,143', '94,584', '87,231', '80,761', '119,157', '99,971', '98,038', '86,084', '83,370', '84,566', '86,088', '69,044', '78,315', '109,877', '103,222', '96,933', '79,442', '97,499', '134,934', '94,075', '125,835', '93,419', '135,746', '69,108', '86,138', '123,168', '95,690', '81,727', '76,181', '122,090', '121,415', '89,616', '133,845', '118,648', '107,762', '113,738', '83,049', '129,523', '132,061', '131,357', '121,410', '108,576', '117,506', '94,356', '103,996', '150,053', '98,155', '124,170', '93,072', '95,632', '92,877', '155,150', '77,518', '68,869', '58,997', '71,442', '70,245', '76,570', '79,445', '92,973', '108,799', '92,810', '84,807', '137,358', '138,162', '103,787', '93,972', '88,872', '93,361', '105,520', '89,884', '77,096', '102,761', '98,376', '97,690', '96,284', '111,508', '135,288', '111,177', '111,186', '82,234', '105,798', '94,886', '96,539', '68,611', '107,941', '104,946', '121,070', '92,549', '97,346', '126,261', '129,019', '112,488', '90,552', '109,474', '75,169', '69,709', '124,221', '82,500', '125,827', '78,412', '59,838', '98,660', '101,335', '97,992', '71,679', '78,972', '99,474', '90,024', '154,398', '108,759', '97,892', '102,476', '96,366', '96,768', '112,547', '129,827', '71,850', '105,645', '69,477', '84,204', '84,029', '86,758', '93,848', '91,617', '54,799', '68,114', '98,552', '99,743', '93,139', '92,327', '73,520', '110,986', '145,800', '118,078', '104,246', '112,710', '140,816', '83,224', '103,892', '105,799', '127,937', '106,246', '92,224', '70,408', '93,653', '90,284', '113,104', '104,856', '88,368', '139,876', '91,231', '95,664', '115,460', '111,433', '105,505', '107,159', '91,814', '102,580', '145,166', '118,364', '87,385', '93,929', '125,713', '74,218', '79,140', '114,683', '69,652', '93,846', '121,819', '115,950', '111,354', '145,067', '108,758', '130,626', '119,422', '112,837', '143,844', ' ', '146,634', '150,063', '100,833', '110,392', '111,301', '106,838', '101,475', '102,468', '77,148', '113,541', '136,705', '121,206', '122,017', '123,117', '138,878', '138,239', '186,207', '142,001', '221,643', '161,872', '137,898', '146,109', '146,409', '133,647', '127,167', ' ', '132,667', '65,679', '117,493', '154,667', '100,846', '116,941', '107,283', '114,822', '74,918', '94,932', '70,360', '86,263', '78,483', '88,328', '93,419', '100,090', '263,113', '73,953', '94,236', '78,742', '96,870', '118,577', '101,051', '124,804', '88,385', '77,873', '124,538', '83,876', '146,617', '128,941', '287,231', '272,964', '237,755', '165,888', ' ', '92,262', '131,859', '67,640', '101,166', '81,829', '123,125', '124,925', '91,783', '89,903', '98,212', '69,588', '98,079', '102,771', '78,746', '93,870', '101,846', '86,869', ' ', '69,272']

In [ ]:
# 20년도 환산임대료 추출
rents_20 = soup.select('#table1 > tbody > tr > td:nth-child(5)')
print(len(rents_20))

rent_20 = []

for rent in rents_20:
    rt = re.sub('(<([^>]+)>)', '', str(rent))
    rent_20.append(rt)
    
print(rent_20)

450
['122,006', '165,259', '132,645', '134,295', '169,870', '102,587', '79,600', '145,840', '191,272', '136,791', '182,349', '238,062', '113,340', '123,873', '161,477', '74,656', '75,363', '77,174', '83,350', '237,739', '141,142', '333,129', '155,009', '119,397', '95,350', '196,902', '138,433', '401,799', '95,343', '131,536', '92,869', '98,489', '91,897', '137,802', '124,903', '119,701', '84,861', '109,345', '98,211', '106,409', '94,053', '98,781', '158,065', '92,605', '117,676', '217,838', '92,084', '177,220', '139,414', '106,662', '67,680', '87,546', '105,002', '100,089', '103,530', '108,978', '135,199', '133,584', '103,241', '108,694', '107,907', '107,948', '109,591', '126,665', '99,449', '104,091', '87,305', '103,163', '77,078', '87,231', '97,581', '130,034', '87,660', '76,926', '69,712', '74,854', '86,587', '99,623', '100,412', '103,662', '81,675', '111,262', '112,536', '90,631', '100,732', '105,238', '93,822', '80,850', '123,096', '87,560', '94,878', '94,931', '82,696', '78,632', '86,275', '85,840', '105,472', '125,150', '90,282', '112,265', '78,895', '87,512', '77,960', '70,424', '62,996', '82,148', '98,433', '84,351', '90,471', '93,388', '77,963', '91,662', '104,540', '85,768', '89,460', '60,360', '91,217', '123,993', '92,230', '117,655', '93,849', '126,296', '54,847', ' ', '112,768', '74,226', '92,030', '79,561', '72,579', '87,233', '123,334', '125,756', '73,499', '89,473', '77,860', '50,869', '80,405', '96,008', '76,543', '85,613', '81,694', '89,767', '106,765', '77,224', '109,989', '85,806', '63,915', '61,750', '81,812', '63,903', '102,449', '68,161', '57,977', '80,832', '89,764', '65,581', '60,165', '109,787', '99,735', '70,056', '93,666', '62,623', '70,720', '85,265', '84,522', '81,759', '71,074', '82,260', '100,111', '97,176', '88,605', '108,205', '91,975', '100,096', '78,439', '91,792', '95,115', '123,308', '107,982', '109,485', '84,234', '118,717', '72,928', '77,657', '122,284', '112,720', '105,164', '92,862', '94,980', '91,334', '103,173', '116,495', '95,333', '88,360', '78,309', '104,964', '88,064', '95,274', '87,194', '84,326', '86,746', '73,953', '96,811', '57,932', '119,439', '105,381', '111,192', '123,872', '92,571', '132,471', '93,517', '112,313', '99,120', '91,442', '70,634', '81,059', '116,665', '91,477', '106,443', '85,008', '124,936', '117,705', '105,503', '137,842', '118,684', '121,473', '121,546', '113,087', '130,456', '140,541', '123,116', '115,369', '100,202', '122,962', '89,188', '97,332', '132,912', '96,842', '135,974', '109,903', '89,619', '75,002', '139,959', '70,228', '67,532', '81,301', '72,365', '71,005', '103,338', '62,301', '97,936', '78,095', '93,055', '84,259', '129,801', '118,041', '100,501', '83,559', '88,996', '73,313', '107,865', '86,527', '71,512', '104,208', '98,713', '89,316', '85,923', '111,266', '125,191', '108,343', '100,770', '88,344', '108,889', '96,129', '113,763', '83,918', '104,162', '107,538', '125,700', '141,037', '109,403', '132,269', '113,395', '98,145', '112,348', '87,661', '86,225', '83,356', '94,454', '79,328', '117,320', '92,883', '87,320', '102,590', '109,805', '90,597', '71,208', '89,460', '98,437', '106,394', '97,488', '120,314', '86,647', '97,133', '106,965', '120,467', '127,007', '130,738', '89,412', '104,340', '98,435', '98,564', '91,318', '98,561', '110,462', '81,185', '57,703', '94,300', '83,875', '105,458', '86,979', '122,676', '74,480', '114,461', '138,704', '136,703', '99,909', '107,689', '121,799', '101,902', '116,107', '92,482', '135,976', '110,277', '133,662', '80,259', '90,181', '109,473', '117,377', '106,734', '92,163', '73,496', '89,117', '100,867', '120,288', '115,281', '111,479', '99,720', '108,962', '128,910', '115,144', '109,283', '107,231', '115,868', '141,031', '74,207', '88,406', '98,934', '66,708', '97,981', '94,743', '121,554', '108,545', '166,035', '113,512', '136,120', '118,768', '98,898', '139,581', '183,685', '162,875', '156,193', '97,884', '115,112', '122,712', '83,681', '102,513', '108,154', '82,447', '118,466', '136,514', '133,451', '133,442', '126,883', '136,589', '136,180', '172,613', '140,277', '177,528', '140,131', '141,361', '140,158', '144,945', '127,872', '149,806', ' ', '135,566', '69,877', '120,868', '159,647', '98,580', '111,188', '129,297', '127,795', '92,669', '102,744', '82,327', '99,882', '86,812', '113,018', '87,609', '114,747', '300,067', '81,413', '112,937', '86,569', '118,710', '109,465', '122,376', '188,117', '96,533', '99,016', '133,511', '107,759', '140,807', '125,221', '277,957', '227,739', '241,448', '163,066', '135,293', '106,961', '122,694', '149,250', '98,035', '94,373', '107,309', '190,545', '92,495', '95,982', '122,038', '96,728', '115,290', '115,760', '97,501', '97,028', '114,011', '96,729', ' ', '85,286']

In [ ]:
# 21년도 환산임대료 추출
rents_21 = soup.select('#table1 > tbody > tr > td:nth-child(8)')
print(len(rents_21))

rent_21 = []

for rent in rents_21:
    rt = re.sub('(<([^>]+)>)', '', str(rent))
    rent_21.append(rt)
    
print(rent_21)

450
['128,541', '175,984', '141,341', '138,422', '176,422', '87,651', '89,817', '105,741', '191,982', '165,483', '189,227', '245,416', '118,103', '125,751', '177,247', '103,760', '90,330', '86,529', '128,484', '223,996', '148,930', '312,666', '164,231', '120,006', '107,807', '190,904', '141,458', '369,515', '103,685', '121,820', '98,506', '112,029', '102,398', '126,362', '131,486', '125,873', '111,346', '105,874', '96,045', '116,739', '100,217', '107,159', '110,244', '122,271', '125,704', '212,201', '106,504', '161,325', '142,593', '134,208', '94,385', '113,260', '126,961', '117,743', '129,665', '120,406', '149,461', '124,133', '143,068', '117,639', '108,198', '120,347', '127,499', '137,023', '108,204', '143,080', '106,517', '139,716', '108,868', '106,008', '110,717', '150,233', '105,015', '102,751', '89,542', '100,432', '96,141', '111,908', '115,164', '121,519', '98,710', '103,750', '123,536', '94,102', '112,567', '107,213', '99,079', '92,221', '121,772', '102,749', '109,132', '108,076', '75,100', '82,011', '89,056', '109,402', '119,783', '136,766', '77,498', '103,207', '89,857', '88,534', '68,398', '83,516', '66,884', '92,787', '107,653', '92,735', '77,389', '86,747', '95,281', '87,825', '103,465', '83,706', '92,200', '66,627', '88,411', '108,589', '102,713', '121,233', '93,708', '122,560', '109,997', '137,851', '111,253', '76,596', '83,352', '87,688', '86,905', '112,455', '147,791', '127,012', '91,238', '103,499', '105,636', '59,814', '91,105', '134,229', '87,235', '94,239', '96,071', '93,388', '125,023', '85,663', '116,140', '95,290', '53,242', '81,298', '86,732', '81,500', '100,610', '87,026', '65,714', '90,333', '112,318', '83,257', '73,357', '109,496', '104,501', '70,348', '99,113', '81,909', '100,133', '89,818', '97,562', '88,469', '74,499', '85,428', '101,128', '104,628', '79,404', '137,258', '88,798', '103,264', '86,392', '115,216', '102,411', '111,374', '102,958', '95,326', '88,302', '107,561', '82,546', '81,365', '130,899', '123,880', '121,133', '116,527', '100,404', '97,419', '89,758', '110,301', '99,334', '98,936', '81,947', '109,206', '107,449', '129,529', '94,310', '91,040', '101,655', '73,301', '84,993', '103,994', '116,897', '116,687', '129,540', '141,733', '115,287', '136,179', '103,939', '112,757', '99,808', '133,808', '98,045', '94,429', '147,458', '117,277', '91,017', '88,219', '135,567', '148,472', '118,067', '149,310', '123,471', '129,797', '143,074', '148,090', '144,855', '149,801', '119,009', '133,100', '109,196', '131,608', '87,958', '134,708', '140,509', '107,327', '136,814', '108,817', '115,686', '97,551', '146,962', '85,282', '77,374', '82,860', '89,343', '75,059', '111,123', '67,020', '112,121', '102,738', '97,791', '104,566', '149,360', '96,209', '116,775', '111,887', '107,913', '109,359', '117,867', '104,796', '80,576', '124,772', '101,865', '97,103', '127,041', '123,209', '145,468', '114,453', '111,051', '95,791', '125,855', '116,945', '120,094', '92,820', '121,780', '100,375', '101,397', '136,696', '97,379', '129,333', '103,720', '99,888', '96,422', '70,742', '72,308', '75,423', '107,173', '86,078', '90,808', '102,540', '86,969', '106,493', '114,290', '90,546', '99,635', '91,579', '79,676', '102,592', '69,507', '148,038', '97,635', '94,419', '109,644', '99,259', '120,272', '133,843', '89,803', '129,257', '99,232', '106,227', '96,179', '100,412', '88,457', '90,908', '110,910', '100,970', '98,174', '104,598', '114,581', '129,663', '77,962', '132,900', '140,575', '260,451', '117,732', '105,824', '122,442', '90,616', '127,188', '109,700', '127,035', '105,729', '109,212', '74,109', '94,611', '93,213', '123,558', '111,819', '115,957', '111,722', '91,212', '109,776', '142,693', '119,364', '99,592', '100,391', '128,055', '141,991', '147,452', '111,681', '88,132', '96,501', '131,794', '83,905', '83,965', '108,423', '81,819', '95,996', '101,412', '124,723', '126,629', '150,037', '116,292', '144,415', '127,591', '99,988', '159,555', '218,539', '145,112', '164,140', '111,348', '121,987', '126,222', '103,291', '110,013', '106,118', '87,295', '101,540', '144,175', '134,795', '128,348', '126,226', '150,559', '137,791', '218,172', '143,146', '187,115', '148,490', '146,821', '149,684', '153,698', '135,359', '152,948', '107,736', '150,472', '87,756', '151,149', '151,529', '101,646', '133,940', '133,451', '152,120', '91,239', '136,900', '88,948', '137,444', '104,834', '121,151', '125,708', '152,027', '218,104', '124,745', '145,958', '114,728', '157,560', '147,369', '135,082', '239,195', '137,456', '144,208', '154,183', '127,230', '165,425', '147,235', '306,202', '218,543', '264,536', '157,418', ' ', '110,897', '132,731', '169,554', '109,580', '100,327', '123,347', '227,118', '105,862', '93,304', '155,923', '84,611', '107,925', '113,664', '88,174', '103,072', '97,782', '98,924', ' ', '87,738']

#### 환산임대료 데이터프레임 생성

In [ ]:
import pandas as pd

In [ ]:
data = {'행정동': dong, '19년도': rent_19, '20년도': rent_20, '21년도': rent_21}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head(20)

            행정동     19년도     20년도     21년도
0        서울시 전체  119,697  122,006  128,541
1           종로구  185,536  165,259  175,984
2         청운효자동  130,207  132,645  141,341
3           사직동  136,152  134,295  138,422
4           삼청동  177,719  169,870  176,422
5           부암동   91,355  102,587   87,651
6           평창동   89,026   79,600   89,817
7           무악동           145,840  105,741
8           교남동  193,491  191,272  191,982
9           가회동  154,294  136,791  165,483
10  종로1.2.3.4가동  204,300  182,349  189,227
11      종로5.6가동  257,199  238,062  245,416
12          이화동  129,692  113,340  118,103
13          혜화동  136,165  123,873  125,751
14         창신1동  166,099  161,477  177,247
15         창신2동   81,500   74,656  103,760
16         창신3동            75,363   90,330
17         숭인1동   83,943   77,174   86,529
18         숭인2동   90,092   83,350  128,484
19           중구  227,851  237,739  223,996

#### 행정동코드 컬럼 생성

In [ ]:
cd = pd.read_csv('동_행정동코드.csv', header=None)
cd.head()

             0         1
0         방배4동  11650621
1         사당2동  11590630
2  종로1.2.3.4가동  11110615
3         양평2동  11560620
4         서초3동  11650530

In [ ]:
cd.columns = ['행정동', '행정동_코드']

In [ ]:
# 기존 환산임대료 데이터에 행정동과 행정동 코드 변수 추가
final_df = pd.merge(df, cd, how='inner', on='행정동')
final_df

       행정동     19년도     20년도     21년도    행정동_코드
0    청운효자동  130,207  132,645  141,341  11110515
1      사직동  136,152  134,295  138,422  11110530
2      삼청동  177,719  169,870  176,422  11110540
3      부암동   91,355  102,587   87,651  11110550
4      평창동   89,026   79,600   89,817  11110560
..     ...      ...      ...      ...       ...
419   성내2동   93,870   97,028  103,072  11740650
420   성내3동  101,846  114,011   97,782  11740660
421     길동   86,869   96,729   98,924  11740685
422   둔촌1동                             11740690
423   둔촌2동   69,272   85,286   87,738  11740700

[424 rows x 5 columns]

#### 열 순서 변경

In [ ]:
col1 = final_df.columns[-1:].to_list()
col2 = final_df.columns[:-1].to_list()
new_col = col1 + col2
final_df = final_df[new_col]

In [ ]:
print(final_df.head())
print(final_df.info())

     행정동_코드    행정동     19년도     20년도     21년도
0  11110515  청운효자동  130,207  132,645  141,341
1  11110530    사직동  136,152  134,295  138,422
2  11110540    삼청동  177,719  169,870  176,422
3  11110550    부암동   91,355  102,587   87,651
4  11110560    평창동   89,026   79,600   89,817
<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동_코드  424 non-null    int64
 1   행정동     424 non-null    object
 2   19년도    424 non-null    object
 3   20년도    424 non-null    object
 4   21년도    424 non-null    object
dtypes: int64(1), object(4)
memory usage: 19.9+ KB
None

#### 환산임대료 데이터셋 csv 파일로 저장

In [ ]:
final_df.to_csv('./환산임대료_final.csv')

### 환산임대료 데이터셋 전처리

In [ ]:
import pandas as pd
import numpy as np
import math
import re

In [ ]:
rt = pd.read_csv('환산임대료_final.csv', encoding='ANSI')
rt.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
rt.head(10)

     행정동_코드          행정동     19년도     20년도     21년도
0  11110515        청운효자동  130,207  132,645  141,341
1  11110530          사직동  136,152  134,295  138,422
2  11110540          삼청동  177,719  169,870  176,422
3  11110550          부암동   91,355  102,587   87,651
4  11110560          평창동   89,026   79,600   89,817
5  11110570          무악동           145,840  105,741
6  11110580          교남동  193,491  191,272  191,982
7  11110600          가회동  154,294  136,791  165,483
8  11110615  종로1.2.3.4가동  204,300  182,349  189,227
9  11110630      종로5.6가동  257,199  238,062  245,416

#### 결측값 0으로 대체

In [ ]:
missed_19 = [5, 14, 42, 114, 150, 158, 175, 347, 371, 405, 422]
for i in missed_19:
    rt.loc[i, '19년도'] = '0'
    
missed_20 = [114, 371, 422]
for i in missed_20:
    rt.loc[i, '20년도'] = '0'
    
missed_21 = [405, 422]
for i in missed_21:
    rt.loc[i, '21년도'] = '0'

#### 연도별 임대료 데이터 정수 타입으로 변형

In [ ]:
for i in range(len(rt)):
    rt['19년도'][i] = re.sub('\,', '', rt['19년도'][i])
    
for i in range(len(rt)):
    rt['20년도'][i] = re.sub('\,', '', rt['20년도'][i])
    
for i in range(len(rt)):
    rt['21년도'][i] = re.sub('\,', '', rt['21년도'][i])

<ipython-input-66-fc054f1f6d24>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt['19년도'][i] = re.sub('\,', '', rt['19년도'][i])
<ipython-input-66-fc054f1f6d24>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt['20년도'][i] = re.sub('\,', '', rt['20년도'][i])
<ipython-input-66-fc054f1f6d24>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rt['21년도'][i] = re.sub('\,', '', rt['21년도'][i])

In [ ]:
rt['19년도'] = rt['19년도'].astype(float)
rt['20년도'] = rt['20년도'].astype(float)
rt['21년도'] = rt['21년도'].astype(float)

rt['19년도'].replace(0, np.nan, inplace=True)
rt['20년도'].replace(0, np.nan, inplace=True)
rt['21년도'].replace(0, np.nan, inplace=True)

rt.head(20)

      행정동_코드          행정동      19년도      20년도      21년도
0   11110515        청운효자동  130207.0  132645.0  141341.0
1   11110530          사직동  136152.0  134295.0  138422.0
2   11110540          삼청동  177719.0  169870.0  176422.0
3   11110550          부암동   91355.0  102587.0   87651.0
4   11110560          평창동   89026.0   79600.0   89817.0
5   11110570          무악동       NaN  145840.0  105741.0
6   11110580          교남동  193491.0  191272.0  191982.0
7   11110600          가회동  154294.0  136791.0  165483.0
8   11110615  종로1.2.3.4가동  204300.0  182349.0  189227.0
9   11110630      종로5.6가동  257199.0  238062.0  245416.0
10  11110640          이화동  129692.0  113340.0  118103.0
11  11110650          혜화동  136165.0  123873.0  125751.0
12  11110670         창신1동  166099.0  161477.0  177247.0
13  11110680         창신2동   81500.0   74656.0  103760.0
14  11110690         창신3동       NaN   75363.0   90330.0
15  11110700         숭인1동   83943.0   77174.0   86529.0
16  11110710         숭인2동   90092.0   83350.0  128484.0
17  11140520          소공동  149349.0  141142.0  148930.0
18  11140540          회현동  307654.0  333129.0  312666.0
19  11140550           명동  179208.0  155009.0  164231.0

In [ ]:
print(rt.dtypes)
print(rt.isnull().sum())
print(rt.mean().round())

행정동_코드      int64
행정동        object
19년도      float64
20년도      float64
21년도      float64
dtype: object
행정동_코드     0
행정동        0
19년도      11
20년도       3
21년도       2
dtype: int64
행정동_코드    11433336.0
19년도        105567.0
20년도        107446.0
21년도        116356.0
dtype: float64

#### 결측치 평균으로 대체

In [ ]:
rt = rt.fillna(rt.mean().round())
rt.head(10)

     행정동_코드          행정동      19년도      20년도      21년도
0  11110515        청운효자동  130207.0  132645.0  141341.0
1  11110530          사직동  136152.0  134295.0  138422.0
2  11110540          삼청동  177719.0  169870.0  176422.0
3  11110550          부암동   91355.0  102587.0   87651.0
4  11110560          평창동   89026.0   79600.0   89817.0
5  11110570          무악동  105567.0  145840.0  105741.0
6  11110580          교남동  193491.0  191272.0  191982.0
7  11110600          가회동  154294.0  136791.0  165483.0
8  11110615  종로1.2.3.4가동  204300.0  182349.0  189227.0
9  11110630      종로5.6가동  257199.0  238062.0  245416.0

#### 파생변수 생성_ 3년치 임대료 증감율 기하평균

In [ ]:
a = (rt['20년도'] / rt['19년도'])
b = (rt['21년도'] / rt['20년도'])
dv = pd.DataFrame({'20년도 증감율':a, '21년도 증감율':b})

In [ ]:
dv['증감율 기하평균'] = ((dv['20년도 증감율']*dv['21년도 증감율'])**(1/2) - 1) * 100
dv.head()

   20년도 증감율  21년도 증감율  증감율 기하평균
0  1.018724  1.065558  4.187811
1  0.986361  1.030731  0.830181
2  0.955835  1.038571 -0.365570
3  1.122949  0.854407 -2.048233
4  0.894121  1.128354  0.443270

#### 환산임대료 데이터셋과 파생변수 결합

In [ ]:
fn = pd.concat([rt,dv], axis=1)
fn.head()

     행정동_코드    행정동      19년도      20년도      21년도  20년도 증감율  21년도 증감율  증감율 기하평균
0  11110515  청운효자동  130207.0  132645.0  141341.0  1.018724  1.065558  4.187811
1  11110530    사직동  136152.0  134295.0  138422.0  0.986361  1.030731  0.830181
2  11110540    삼청동  177719.0  169870.0  176422.0  0.955835  1.038571 -0.365570
3  11110550    부암동   91355.0  102587.0   87651.0  1.122949  0.854407 -2.048233
4  11110560    평창동   89026.0   79600.0   89817.0  0.894121  1.128354  0.443270

#### 컬럼명 변경 & 불필요한 컬럼 삭제

In [ ]:
fn.rename(columns={'21년도':'환산임대료(원, 21년도)'}, inplace=True)
fn.rename(columns={'증감율 기하평균':'증감율(%, 19-21년도)'}, inplace=True)

In [ ]:
fn.head()

,행정동_코드,행정동,19년도,20년도,"환산임대료(원, 21년도)",20년도 증감율,21년도 증감율,"증감율(%, 19-21년도)"
0,11110515,청운효자동,130207.0,132645.0,141341.0,1.018724,1.065558,4.187811
1,11110530,사직동,136152.0,134295.0,138422.0,0.986361,1.030731,0.830181
2,11110540,삼청동,177719.0,169870.0,176422.0,0.955835,1.038571,-0.365570
3,11110550,부암동,91355.0,102587.0,87651.0,1.122949,0.854407,-2.048233
4,11110560,평창동,89026.0,79600.0,89817.0,0.894121,1.128354,0.443270

In [ ]:
fn = fn.loc[:,['행정동_코드', '행정동', '환산임대료(원, 21년도)', '증감율(%, 19-21년도)']]
fn.head()

     행정동_코드    행정동  환산임대료(원, 21년도)  증감율(%, 19-21년도)
0  11110515  청운효자동        141341.0         4.187811
1  11110530    사직동        138422.0         0.830181
2  11110540    삼청동        176422.0        -0.365570
3  11110550    부암동         87651.0        -2.048233
4  11110560    평창동         89817.0         0.443270

#### 증감율 컬럼 값 반올림하기

In [ ]:
fn['증감율(%, 19-21년도)'] = fn['증감율(%, 19-21년도)'].round(3)

#### 환산임대료(원, 21년도) 컬럼 타입 변경

In [ ]:
fn['환산임대료(원, 21년도)'] = fn['환산임대료(원, 21년도)'].astype('int64')

In [ ]:
fn.head()

     행정동_코드    행정동  환산임대료(원, 21년도)  증감율(%, 19-21년도)
0  11110515  청운효자동          141341            4.188
1  11110530    사직동          138422            0.830
2  11110540    삼청동          176422           -0.366
3  11110550    부암동           87651           -2.048
4  11110560    평창동           89817            0.443

### csv파일로 저장

In [ ]:
fn.to_csv('./환산임대료_preprocessed.csv')

### 행정동_코드와 상권 코드 추출

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('original(openAPI).csv', encoding='cp949')
df.head()

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN

In [ ]:
rm_col = ['기준_년월_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드_명', '엑스좌표_값', '와이좌표_값', '시군구_코드', '형태정보']

In [ ]:
df.drop(rm_col, axis=1, inplace=True)
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상권_코드   1671 non-null   int64
 1   행정동_코드  1671 non-null   int64
dtypes: int64(2)
memory usage: 26.2 KB
None
     상권_코드    행정동_코드
0  2110753  11545710
1  2110427  11350611
2  2110755  11545680
3  2110739  11545690
4  2111017  11710562

In [ ]:
df.to_csv('./final_addr.csv')

### 추정매출 데이터셋에 행정동_코드 추가

In [ ]:
import pandas as pd

In [ ]:
mc = pd.read_csv('추정매출(original).csv', encoding='cp949')
cd = pd.read_csv('final_addr.csv')

In [ ]:
mc = pd.merge(mc, cd, how='inner', on='상권_코드')
mc.drop('Unnamed: 0', axis=1, inplace=True)

#### 컬럼 순서 바꾸기

In [ ]:
col1 = mc.columns[-1:].to_list()
col2 = mc.columns[:-1].to_list()
new_col = col1 + col2
mc = mc[new_col]
mc.head()

,행정동_코드,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,11110560,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,626851391,...,157,15667,7253,108,1098,2013,4344,7792,7568,28
1,11110560,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,122957138,...,0,6679,4293,52,926,1222,2698,3404,2670,9
2,11110560,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,5093349,...,9,124,36,0,0,9,18,62,71,3
3,11110560,2021,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,13507733,...,8,356,881,0,243,260,213,288,235,5
4,11110560,2021,1,A,골목상권,2110001,이북5도청사,CS200001,일반교습학원,37551380,...,0,56,72,0,0,8,96,8,16,3

#### csv파일로 저장

In [ ]:
mc.to_csv('./추정매출_final.csv')

### 추정매출 데이터셋 전처리

In [ ]:
import pandas as pd

In [ ]:
mc = pd.read_csv('추정매출_final.csv')
mc.drop('Unnamed: 0', axis=1, inplace=True)

#### 불필요한 컬럼 삭제

In [ ]:
mc = mc[['행정동_코드', '상권_구분_코드', '상권_코드', '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수']]

In [ ]:
ad = mc['상권_구분_코드'].isin(['A', 'D'])
print(ad)

0          True
1          True
2          True
3          True
4          True
          ...
140825    False
140826    False
140827    False
140828    False
140829    False
Name: 상권_구분_코드, Length: 140830, dtype: bool

In [ ]:
mc = mc.loc[ad]

#### 요식업에 해당하는 서비스 업종만 행 필터링

In [ ]:
cd = mc['서비스_업종_코드_명'].isin(['한식음식점', '분식전문점', '호프-간이주점', '일식음식점', '양식음식점', '중식음식점', '제과점', '편의점', '커피-음료'])

In [ ]:
mc = mc.loc[cd]

In [ ]:
print(mc.head())
print(mc.isnull().sum())
print(mc['상권_구분_코드'].unique())
print(mc['서비스_업종_코드_명'].unique())
print(mc['상권_코드'].nunique())

     행정동_코드 상권_구분_코드    상권_코드 서비스_업종_코드 서비스_업종_코드_명  분기당_매출_금액  분기당_매출_건수
0  11110560        A  2110001  CS100001       한식음식점  626851391      25502
1  11110560        A  2110001  CS100008       분식전문점  122957138      12039
2  11110560        A  2110001  CS100009     호프-간이주점    5093349        177
3  11110560        A  2110001  CS100010       커피-음료   13507733       1359
9  11110560        A  2110001  CS300002         편의점  304683359      43814
행정동_코드         0
상권_구분_코드       0
상권_코드          0
서비스_업종_코드      0
서비스_업종_코드_명    0
분기당_매출_금액      0
분기당_매출_건수      0
dtype: int64
['A' 'D']
['한식음식점' '분식전문점' '호프-간이주점' '커피-음료' '편의점' '제과점' '일식음식점' '양식음식점' '중식음식점']
1317

#### 상권별로 레코드 통합

In [ ]:
mc = mc.groupby(['행정동_코드', '상권_구분_코드', '상권_코드'], as_index=False).mean()

In [ ]:
mc.head()

     행정동_코드 상권_구분_코드    상권_코드     분기당_매출_금액     분기당_매출_건수
0  11110515        A  2110008  5.468560e+08  39024.967742
1  11110515        A  2110011  4.187615e+07   2659.750000
2  11110515        A  2110014  1.188122e+08   4828.333333
3  11110515        A  2110015  4.797701e+08  13574.750000
4  11110530        A  2110007  5.634570e+07   7114.250000

#### 파생변수 생성 (건당_매출액_평균)

In [ ]:
mc['건당_매출액_평균'] = mc['분기당_매출_금액'] / mc['분기당_매출_건수']

In [ ]:
mc.head()

     행정동_코드 상권_구분_코드    상권_코드     분기당_매출_금액     분기당_매출_건수     건당_매출액_평균
0  11110515        A  2110008  5.468560e+08  39024.967742  14012.978503
1  11110515        A  2110011  4.187615e+07   2659.750000  15744.395056
2  11110515        A  2110014  1.188122e+08   4828.333333  24607.283759
3  11110515        A  2110015  4.797701e+08  13574.750000  35342.829233
4  11110530        A  2110007  5.634570e+07   7114.250000   7920.118495

In [ ]:
mc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1317 entries, 0 to 1316
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정동_코드     1317 non-null   int64
 1   상권_구분_코드   1317 non-null   object
 2   상권_코드      1317 non-null   int64
 3   분기당_매출_금액  1317 non-null   float64
 4   분기당_매출_건수  1317 non-null   float64
 5   건당_매출액_평균  1317 non-null   float64
dtypes: float64(3), int64(2), object(1)
memory usage: 72.0+ KB

#### csv파일로 저장

In [ ]:
mc.to_csv('./추정매출_preprocessed.csv')

### 추정매출 데이터셋과 환산임대료 데이터셋 합치기

In [ ]:
import pandas as pd

In [ ]:
mc = pd.read_csv('추정매출_preprocessed.csv')
rt = pd.read_csv('환산임대료_preprocessed.csv')

In [ ]:
mc.drop('Unnamed: 0', axis=1, inplace=True)
rt.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
print(mc.head())
print(rt.head())

     행정동_코드 상권_구분_코드    상권_코드     분기당_매출_금액     분기당_매출_건수     건당_매출액_평균
0  11110515        A  2110008  5.468560e+08  39024.967742  14012.978503
1  11110515        A  2110011  4.187615e+07   2659.750000  15744.395056
2  11110515        A  2110014  1.188122e+08   4828.333333  24607.283759
3  11110515        A  2110015  4.797701e+08  13574.750000  35342.829233
4  11110530        A  2110007  5.634570e+07   7114.250000   7920.118495
     행정동_코드    행정동  환산임대료(원, 21년도)  증감율(%, 19-21년도)
0  11110515  청운효자동          141341            4.188
1  11110530    사직동          138422            0.830
2  11110540    삼청동          176422           -0.366
3  11110550    부암동           87651           -2.048
4  11110560    평창동           89817            0.443

In [ ]:
final = pd.merge(mc, rt, how='inner', on='행정동_코드')
final = final.drop('행정동', axis=1)

In [ ]:
final.head()

,행정동_코드,상권_구분_코드,상권_코드,분기당_매출_금액,분기당_매출_건수,건당_매출액_평균,"환산임대료(원, 21년도)","증감율(%, 19-21년도)"
0,11110515,A,2110008,5.468560e+08,39024.967742,14012.978503,141341,4.188
1,11110515,A,2110011,4.187615e+07,2659.750000,15744.395056,141341,4.188
2,11110515,A,2110014,1.188122e+08,4828.333333,24607.283759,141341,4.188
3,11110515,A,2110015,4.797701e+08,13574.750000,35342.829233,141341,4.188
4,11110530,A,2110007,5.634570e+07,7114.250000,7920.118495,138422,0.830

#### 파생변수 생성 ('임대료/매출', '매출/임대료')

In [ ]:
final['임대료/매출'] = final['환산임대료(원, 21년도)'] / final['건당_매출액_평균']
final['매출/임대료'] = final['건당_매출액_평균'] / final['환산임대료(원, 21년도)']

In [ ]:
final.head(15)

,행정동_코드,상권_구분_코드,상권_코드,분기당_매출_금액,분기당_매출_건수,건당_매출액_평균,"환산임대료(원, 21년도)","증감율(%, 19-21년도)",임대료/매출,매출/임대료
0,11110515,A,2110008,5.468560e+08,39024.967742,14012.978503,141341,4.188,10.086435,0.099143
1,11110515,A,2110011,4.187615e+07,2659.750000,15744.395056,141341,4.188,8.977226,0.111393
2,11110515,A,2110014,1.188122e+08,4828.333333,24607.283759,141341,4.188,5.743868,0.174099
3,11110515,A,2110015,4.797701e+08,13574.750000,35342.829233,141341,4.188,3.999142,0.250054
4,11110530,A,2110007,5.634570e+07,7114.250000,7920.118495,138422,0.830,17.477264,0.057217
5,11110530,A,2110012,5.218811e+08,28872.968750,18075.075592,138422,0.830,7.658170,0.130580
6,11110530,D,2120002,1.642288e+09,71413.666667,22996.834050,138422,0.830,6.019176,0.166136
7,11110530,D,2120003,4.411689e+09,262789.638889,16787.910811,138422,0.830,8.245338,0.121281
8,11110540,D,2120005,1.096133e+09,52121.677419,21030.265367,176422,-0.366,8.388957,0.119204
9,11110550,A,2110003,1.562103e+08,15288.375000,10217.589634,87651,-2.048,8.578442,0.116571
10,11110550,A,2110005,2.394282e+08,22494.200000,10643.996279,87651,-2.048,8.234783,0.121436
11,11110550,A,2110006,1.533060e+08,11147.062500,13753.036478,87651,-2.048,6.373211,0.156907
12,11110550,A,2110009,3.006995e+08,9869.450000,30467.702415,87651,-2.048,2.876850,0.347602
13,11110560,A,2110001,2.384214e+08,18772.450000,12700.599440,89817,0.443,7.071871,0.141405
14,11110560,A,2110010,2.968296e+08,23347.228571,12713.696521,89817,0.443,7.064586,0.141551

#### 파생변수 자릿 수 반올림(소수 넷째자리)

In [ ]:
final['임대료/매출'] = final['임대료/매출'].round(4)
final['매출/임대료'] = final['매출/임대료'].round(4)

In [ ]:
print(final.info())
print(final.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1317 entries, 0 to 1316
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   행정동_코드           1317 non-null   int64
 1   상권_구분_코드         1317 non-null   object
 2   상권_코드            1317 non-null   int64
 3   분기당_매출_금액        1317 non-null   float64
 4   분기당_매출_건수        1317 non-null   float64
 5   건당_매출액_평균        1317 non-null   float64
 6   환산임대료(원, 21년도)   1317 non-null   int64
 7   증감율(%, 19-21년도)  1317 non-null   float64
 8   임대료/매출           1317 non-null   float64
 9   매출/임대료           1317 non-null   float64
dtypes: float64(6), int64(3), object(1)
memory usage: 113.2+ KB
None
행정동_코드             0
상권_구분_코드           0
상권_코드              0
분기당_매출_금액          0
분기당_매출_건수          0
건당_매출액_평균          0
환산임대료(원, 21년도)     0
증감율(%, 19-21년도)    0
임대료/매출             0
매출/임대료             0
dtype: int64

In [ ]:
final.head()

,행정동_코드,상권_구분_코드,상권_코드,분기당_매출_금액,분기당_매출_건수,건당_매출액_평균,"환산임대료(원, 21년도)","증감율(%, 19-21년도)",임대료/매출,매출/임대료
0,11110515,A,2110008,5.468560e+08,39024.967742,14012.978503,141341,4.188,10.0864,0.0991
1,11110515,A,2110011,4.187615e+07,2659.750000,15744.395056,141341,4.188,8.9772,0.1114
2,11110515,A,2110014,1.188122e+08,4828.333333,24607.283759,141341,4.188,5.7439,0.1741
3,11110515,A,2110015,4.797701e+08,13574.750000,35342.829233,141341,4.188,3.9991,0.2501
4,11110530,A,2110007,5.634570e+07,7114.250000,7920.118495,138422,0.830,17.4773,0.0572

#### csv파일로 저장

In [ ]:
final.to_csv('./추정매출_임대료.csv')

# 단위면적당 점포수 데이터 수집 및 전처리

## 행정동별 점포수 수집 및 전처리

In [ ]:
#해당 데이터는 존재하지 않았습니다.
#따라서 해당 지역의 점포수를 알 수 있는 데이터와 해당지역의 면적을 알 수 있는 데이터를 불러와 점포밀도를 구하였습니다.
#필요한 라이브러리 임포트
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('소상공인시장진흥공단_상가(상권)정보_서울_202112.csv')
#쓸 데이터 불러오기 
df

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23324279,제중건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,G47216,...,1156010600100410002034626,NaN,서울특별시 영등포구 영중로14길 11-17,150035,7250.0,NaN,1,NaN,126.907168,37.520613
1,24525909,민속악기사,NaN,D,소매,D04,취미/오락관련소매,D04A09,악기판매,G47593,...,1120012200101420011000227,NaN,서울특별시 성동구 용답5길 2,133849,4803.0,NaN,NaN,NaN,127.049018,37.566857
2,24715368,태평양진주,NaN,D,소매,D26,시계/귀금속소매,D26A01,시계/귀금속,G47830,...,1111015200100440000000001,금사랑투빌딩,서울특별시 종로구 서순라길 17-10,110390,3138.0,NaN,NaN,NaN,126.993530,37.571848
3,15554136,김선희꼼꼼국어교습소,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,1171011100101970003017195,NaN,서울특별시 송파구 위례성대로12길 31,138834,5640.0,NaN,2,NaN,127.121520,37.510967
4,17174175,비지트,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1165010100108540018009586,상랑의빌딩,서울특별시 서초구 동광로18길 82,137837,6572.0,NaN,1,NaN,126.991394,37.488375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315289,17915026,사라헤어하우스,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,1162010100108610014026971,NaN,서울특별시 관악구 관악로 185,151811,8758.0,NaN,3,NaN,126.952644,37.481784
315290,17917525,김현진153필라테스,NaN,N,관광/여가/오락,N05,요가/단전/마사지,N05A01,요가/단식,S96129,...,1174010900100510007009699,남해빌딩,서울특별시 강동구 양재대로 1517,134862,5316.0,NaN,1,NaN,127.140855,37.541259
315291,17913544,26도헤어마곡나루역점,NaN,F,생활서비스,F01,이/미용/건강,F01A01,여성미용실,S96112,...,1150010500107590001000001,두산더랜드타워,서울특별시 강서구 마곡서로 152,157805,7788.0,306,NaN,NaN,126.825623,37.567747
315292,17958597,명품케터링,NaN,Q,음식,Q13,음식배달서비스,Q13A03,음식출장조달,I56131,...,1130510100113570000035071,삼각산아이원아파트,서울특별시 강북구 삼양로19길 113,142718,1198.0,120,NaN,NaN,127.017829,37.617041
315293,17938681,페어즈오브슈즈,NaN,D,소매,D06,가방/신발/액세서리,D06A01,신발소매,G47420,...,1156010900100450005031978,NaN,서울특별시 영등포구 영중로 116,150030,7229.0,NaN,NaN,NaN,126.905938,37.526557

In [ ]:
#행정동 고유값 가져오기
df_hdn = df['행정동명'].unique()
df_hdn

array(['영등포동', '용답동', '종로1.2.3.4가동', '방이1동', '방배4동', '사당2동', '서초3동',
       '압구정동', '대흥동', '묵1동', '역촌동', '성북동', '고덕2동', '서교동', '방이2동', '공덕동',
       '목1동', '문정1동', '역삼1동', '행당1동', '신촌동', '신당5동', '혜화동', '방배본동', '목5동',
       '잠원동', '중곡4동', '홍제3동', '반포4동', '용강동', '회현동', '삼성1동', '서초4동', '오금동',
       '대치4동', '이촌2동', '합정동', '성내1동', '길음2동', '가락2동', '중화2동', '일원2동',
       '동선동', '숭인2동', '한강로동', '도곡1동', '서원동', '여의동', '구의3동', '면목본동',
       '발산1동', '보라매동', '신당동', '상계2동', '문정2동', '자양4동', '진관동', '송중동', '명동',
       '보문동', '구로4동', '평창동', '소공동', '당산1동', '중곡3동', '능동', '잠실4동', '독산3동',
       '명일1동', '흑석동', '논현2동', '공릉2동', '거여2동', '삼양동', '갈현2동', '신정3동',
       '망우3동', '성내2동', '상봉1동', '화양동', '가산동', '도곡2동', '낙성대동', '쌍문2동',
       '광장동', '송천동', '목2동', '장지동', '서초2동', '은천동', '월계1동', '한남동', '신원동',
       '우장산동', '삼청동', '제기동', '화곡4동', '상도4동', '청구동', '대치1동', '방화1동',
       '서초1동', '천호3동', '화곡6동', '성수2가3동', '화곡2동', '청담동', '청량리동', '가회동',
       '우이동', '길음1동', '종로5.6가동', '시흥5동', '안암동', '자양3동', '남현동', '양평2동',
       '대방동', '자양2동', '대치2동', '천호1동', '청룡동', '번1동', '상도3동', '광희동', '쌍문1동',
       '천호2동', '홍은2동', '독산1동', '신월3동', '신정2동', '창2동', '양재1동', '왕십리2동',
       '수서동', '신내2동', '개봉1동', '문래동', '휘경1동', '상도2동', '구로3동', '원효로2동',
       '석촌동', '신월4동', '정릉1동', '효창동', '둔촌2동', '방화3동', '남가좌2동', '중계본동',
       '이문1동', '상봉2동', '성내3동', '등촌3동', '면목2동', '송정동', '구의1동', '명일2동',
       '연남동', '대조동', '개봉2동', '신도림동', '시흥4동', '상계3.4동', '녹번동', '대림3동',
       '수궁동', '오류2동', '방배2동', '노량진2동', '금호2.3가동', '목4동', '망우본동', '개포4동',
       '왕십리도선동', '장안2동', '잠실6동', '방학1동', '종암동', '일원본동', '미아동', '수색동',
       '수유2동', '반포2동', '용문동', '충현동', '용신동', '사당3동', '방화2동', '삼각산동', '도화동',
       '하계2동', '반포1동', '북아현동', '불광2동', '상계1동', '불광1동', '하계1동', '내곡동',
       '서강동', '일원1동', '방학2동', '이문2동', '상계5동', '잠실본동', '약수동', '신길7동',
       '논현1동', '신정4동', '사직동', '염창동', '개포2동', '성현동', '삼선동', '구로2동', '가락본동',
       '사당4동', '길동', '창1동', '월계3동', '잠실3동', '삼전동', '신사동', '정릉2동', '중곡2동',
       '번2동', '삼성동', '신길3동', '암사1동', '답십리1동', '신내1동', '아현동', '황학동',
       '가리봉동', '답십리2동', '시흥3동', '항동', '행운동', '방배3동', '군자동', '을지로동',
       '마천1동', '후암동', '시흥2동', '신사2동', '잠실7동', '암사2동', '반포3동', '창신2동',
       '망원1동', '고척1동', '고척2동', '남영동', '화곡8동', '도림동', '성산2동', '중곡1동',
       '청운효자동', '부암동', '풍납1동', '가양1동', '시흥1동', '도봉1동', '화곡1동', '방배1동',
       '양평1동', '응암2동', '대림1동', '갈현1동', '풍납2동', '성수2가1동', '다산동', '공릉1동',
       '자양1동', '독산4동', '이태원1동', '북가좌1동', '청파동', '보광동', '필동', '묵2동',
       '구로5동', '인수동', '상계6.7동', '삼성2동', '쌍문3동', '신길1동', '등촌2동', '인헌동',
       '월계2동', '신정1동', '마천2동', '옥수동', '양재2동', '마장동', '중림동', '중앙동', '신월2동',
       '장안1동', '신사1동', '연희동', '남가좌1동', '석관동', '반포본동', '돈암1동', '성수1가2동',
       '상암동', '창3동', '성산1동', '수유1동', '사당5동', '신월6동', '망원2동', '송파2동',
       '응암3동', '구의2동', '증산동', '동화동', '염리동', '미성동', '이촌1동', '구산동', '이태원2동',
       '사근동', '등촌1동', '역삼2동', '응암1동', '신월1동', '조원동', '정릉4동', '홍제1동',
       '신월7동', '장위1동', '홍은1동', '전농2동', '성수1가1동', '월곡1동', '수유3동', '노량진1동',
       '잠실2동', '창5동', '금호4가동', '신월5동', '신정7동', '중계1동', '가락1동', '상계9동',
       '상도1동', '대학동', '중화1동', '화곡3동', '중계4동', '오륜동', '북가좌2동', '난곡동',
       '전농1동', '서빙고동', '영등포본동', '교남동', '쌍문4동', '상일1동', '면목4동', '당산2동',
       '신길6동', '사당1동', '장충동', '무악동', '구로1동', '목3동', '송파1동', '원효로1동',
       '세곡동', '장위3동', '서림동', '상계10동', '이화동', '정릉3동', '용산2가동', '천연동',
       '신대방2동', '면목3.8동', '고덕1동', '창신1동', '오류1동', '신정6동', '휘경2동', '월곡2동',
       '대림2동', '중계2.3동', '돈암2동', '신수동', '공항동', '신림동', '위례동', '홍제2동',
       '신길4동', '창4동', '회기동', '금호1가동', '행당2동', '숭인1동', '거여1동', '독산2동',
       '면목7동', '장위2동', '신대방1동', '상계8동', '암사3동', '개봉3동', '화곡본동', '면목5동',
       '응봉동', '가양2동', '강일동', '난향동', '번3동', '방학3동', '창신3동', '청림동', '도봉2동',
       '가양3동', '신길5동', '상일2동', '개포1동', '상일동', nan, '둔촌1동'], dtype=object)

In [ ]:
df_hdn[425]
#nan값 확인

nan

In [ ]:
df_hdn = np.delete(df_hdn, 425 , axis = 0) #빈 인덱스 삭제

In [ ]:
print(df_hdn[425])
print(len(df[df['행정동명'] == df_hdn[425]]))
# 임의의 행정동의 점포수 확인

둔촌1동
16

In [ ]:
result = []
for i in range(len(df_hdn)):
    result.append(
        {   
            '행정동코드': int(df[df['행정동명'] == df_hdn[i]]['행정동코드'].head(1)/100),
            '행정동명': df_hdn[i],
            '점포수': len(df[df['행정동명'] == df_hdn[i]])
        }
    )
    print(i)
#행정동코드는 10자리인데 다른 데이터의 행정동코드는 8자리임을 확인.
#또한 모든 행정동 코드가 뒤에 00이 뭍어있으므로 제거하니 8자리 행정동 코드와 일치함 확인.
#행정동 코드를 100으로 나눠준 뒤 정수형으로 반환

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425

In [ ]:
# 데이터 프레임으로 전환
df_hdn_new = pd.DataFrame(result)

In [ ]:
df_hdn_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   426 non-null    int64
 1   행정동명    426 non-null    object
 2   점포수     426 non-null    int64
dtypes: int64(2), object(1)
memory usage: 10.1+ KB

In [ ]:
df_hdn_new[df_hdn_new['행정동명'].str.contains('상일')] 
# 다른 데이터(프렌차이즈수(행정동번호11740502만존재), 행정동넓이(상일1,2동만 구분))와 단위 통일을 위해 상일1동2동상일동 3개동을 병합처리.

        행정동코드  행정동명  점포수
360  11740525  상일1동  450
422  11740526  상일2동   85
424  11740520   상일동   35

In [ ]:
df_hdn_new.loc[424, '점포수'] = int(570) #상일동 열에 상권수 통합처리

In [ ]:
df_hdn_new = df_hdn_new.drop([360, 422]) #상일1동, 상일2동 열 삭제

In [ ]:
df_hdn_new[df_hdn_new['행정동명'].str.contains('상일')] #병합 확인

        행정동코드 행정동명  점포수
424  11740520  상일동  570

In [ ]:
df_hdn_new[df_hdn_new['행정동명'].str.contains('신사동')] 
#신사동의 경우 강남구와 관악구에도 있기에 구분할 필요가 있다.
#해당행은 강남구의 신사동 코드 사용중
#점포수 또한 강남구와 신사동이 합쳐져 있는 상태.

        행정동코드 행정동명   점포수
222  11680510  신사동  2501

In [ ]:
len(df[(df['행정동명'] == '신사동') & (df['시군구명'].str.contains('강남'))])
# 강남구 신사동의 점포수

1888

In [ ]:
len(df[(df['행정동명'] == '신사동') & (df['시군구명'].str.contains('관악'))])
#관악구 신사동의 점포수

613

In [ ]:
613+1888 # 각각의 값을 합치니 위에 신사동 상권수와 일치. 나누어줄 필요가 있다.

2501

In [ ]:
df_hdn_new.loc[222, '점포수'] = 1888
df_hdn_new.loc[222, '행정동명'] = '신사동(강남구)'
#기존 데이터 수정

In [ ]:
#신사동(관악구)행 추가
new_data = {
    '행정동코드' : int(df[(df['행정동명'] == '신사동') & (df['시군구명'].str.contains('관악'))]['행정동코드'].head(1)/100),
    '행정동명' : '신사동(관악구)',
    '점포수' : len(df[(df['행정동명'] == '신사동') & (df['시군구명'].str.contains('관악'))])
}
df_hdn_new = df_hdn_new.append(new_data, ignore_index=True)

C:\Users\yoyoy\AppData\Local\Temp\ipykernel_2440\3806705052.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_hdn_new = df_hdn_new.append(new_data, ignore_index=True)

In [ ]:
df_hdn_new[df_hdn_new['행정동명'].str.contains('신사동')] #나우어짐을 확인함.

        행정동코드      행정동명   점포수
222  11680510  신사동(강남구)  1888
424  11620685  신사동(관악구)   613

In [ ]:
# 점포수 자료형 정수형으로 통일
df_hdn_new = df_hdn_new.astype({'점포수':'int'})
#인덱스 초기화
df_hdn_new = df_hdn_new.reset_index()
del df_hdn_new['index']

In [ ]:
df_hdn_new
# 행정동별 점포수 전처리 완료

        행정동코드         행정동명   점포수
0    11560535         영등포동  2390
1    11200790          용답동   742
2    11110615  종로1.2.3.4가동  4912
3    11710561         방이1동   590
4    11650621         방배4동  1037
..        ...          ...   ...
420  11560670         신길5동   184
421  11680660         개포1동    67
422  11740520          상일동   570
423  11740690         둔촌1동    16
424  11620685     신사동(관악구)   613

[425 rows x 3 columns]

## 행정동별 면적 수집 및 전처리

In [ ]:
#데이터 선언
df_km = pd.read_excel('km2.xls')

In [ ]:
df_km

       기간  자치구     동      면적    면적.1  동.1  동.2       통       반
0      기간  자치구     동      면적  구성비(%)   행정   법정       통       반
1    2021   합계    합계  605.24     100  426  466  12 859  96 471
2    2021  종로구    소계   23.91       4   17   87     279   1 475
3    2021  종로구   사직동    1.23     0.2    1   12      16      68
4    2021  종로구   삼청동    1.49     0.3    1    7      10      42
..    ...  ...   ...     ...     ...  ...  ...     ...     ...
448  2021  강동구  천호2동    1.57     0.3    1    -      44     414
449  2021  강동구    길동    2.17     0.4    1    1      65     552
450  2021  강동구   강일동    2.26     0.4    1    1      38     296
451  2021  강동구  상일1동    2.65     0.4    1    1      46     397
452  2021  강동구  상일2동    0.54     0.1    1    -      15     113

[453 rows x 9 columns]

In [ ]:
#필요한 데이터 컬럼만 출력
df_km[['동', '면적']]

        동      면적
0       동      면적
1      합계  605.24
2      소계   23.91
3     사직동    1.23
4     삼청동    1.49
..    ...     ...
448  천호2동    1.57
449    길동    2.17
450   강일동    2.26
451  상일1동    2.65
452  상일2동    0.54

[453 rows x 2 columns]

In [ ]:
#삭제할 행 인덱스 가져오기
df_km_new = df_km[(df_km['동']=='합계') | (df_km['동'] == '소계') | (df_km['동'] == '동')].index
df_km_new

Int64Index([  0,   1,   2,  20,  36,  53,  71,  87, 102, 119, 140, 154, 169,
            189, 206, 221, 238, 257, 278, 295, 306, 325, 341, 363, 382, 405,
            433],
           dtype='int64')

In [ ]:
#필요없는 행 삭제
df_km_new = df_km.drop(df_km_new)
df_km_new

       기간  자치구     동    면적 면적.1 동.1 동.2   통    반
3    2021  종로구   사직동  1.23  0.2   1  12  16   68
4    2021  종로구   삼청동  1.49  0.3   1   7  10   42
5    2021  종로구   부암동  2.27  0.4   1   3  18   98
6    2021  종로구   평창동  8.87  1.5   1   2  19  147
7    2021  종로구   무악동  0.36  0.1   1   1  12   71
..    ...  ...   ...   ...  ...  ..  ..  ..  ...
448  2021  강동구  천호2동  1.57  0.3   1   -  44  414
449  2021  강동구    길동  2.17  0.4   1   1  65  552
450  2021  강동구   강일동  2.26  0.4   1   1  38  296
451  2021  강동구  상일1동  2.65  0.4   1   1  46  397
452  2021  강동구  상일2동  0.54  0.1   1   -  15  113

[426 rows x 9 columns]

In [ ]:
# '동' 컬럼과 '면적'컬럼만 가져오기
df_km_new = df_km_new[['동', '면적']]
df_km_new

        동    면적
3     사직동  1.23
4     삼청동  1.49
5     부암동  2.27
6     평창동  8.87
7     무악동  0.36
..    ...   ...
448  천호2동  1.57
449    길동  2.17
450   강일동  2.26
451  상일1동  2.65
452  상일2동  0.54

[426 rows x 2 columns]

In [ ]:
#컬럼명 변경
df_km_new = df_km_new.rename(columns={'동':'행정동명'})

In [ ]:
#상일동 행이 2개임을 확인
df_km_new[df_km_new['행정동명'].str.contains('상일')]

     행정동명    면적
451  상일1동  2.65
452  상일2동  0.54

In [ ]:
#행정동별 점푸수 데이터에서 '상일동' 행들을 통일햇듯이 통일 
df_km_new.loc[451, '행정동명'] = '상일동' #상일1동 -> 상일동
df_km_new.loc[451, '면적'] = 2.65 + 0.54 # 상일1동 면적 + 상일2동 면적
#남은 행 삭제
df_km_new = df_km_new.drop(452) #상일2동 열 삭제

In [ ]:
#상일동 행이 1개임을 확인
df_km_new[df_km_new['행정동명'].str.contains('상일')]

    행정동명    면적
451  상일동  3.19

In [ ]:
#인덱스 초기화
df_km_new = df_km_new.reset_index()
del df_km_new['index']
df_km_new

     행정동명    면적
0     사직동  1.23
1     삼청동  1.49
2     부암동  2.27
3     평창동  8.87
4     무악동  0.36
..    ...   ...
420  암사1동  1.02
421  천호2동  1.57
422    길동  2.17
423   강일동  2.26
424   상일동  3.19

[425 rows x 2 columns]

In [ ]:
df_km[df_km['동'].str.contains('신사동')]
#신사동이 강남구, 관악구 2개이므로 수정이 필요. 강남이 더 넓다.

       기간  자치구    동    면적 면적.1 동.1 동.2   통    반
352  2021  관악구  신사동  0.64  0.1   1   -  30  222
383  2021  강남구  신사동  1.89  0.3   1   1  34  212

In [ ]:
df_km_new.loc[329, '행정동명'] = '신사동(관악구)'
df_km_new.loc[358, '행정동명'] = '신사동(강남구)'
#기존 데이터 수정

In [ ]:
df_km_new[df_km_new['행정동명'].str.contains('신사동')]

         행정동명    면적
329  신사동(관악구)  0.64
358  신사동(강남구)  1.89

In [ ]:
df_km_new
#행정동별 면적 전처리 완료.

     행정동명    면적
0     사직동  1.23
1     삼청동  1.49
2     부암동  2.27
3     평창동  8.87
4     무악동  0.36
..    ...   ...
420  암사1동  1.02
421  천호2동  1.57
422    길동  2.17
423   강일동  2.26
424   상일동  3.19

[425 rows x 2 columns]

## 단위면적당 점포수(점포밀도): 점포수/넓이

In [ ]:
df_mildo = pd.merge(df_hdn_new,df_km_new, how='outer',on='행정동명')
# '행정동명'을 기준으로 merge함수로 병합

In [ ]:
df_mildo.info()
#널값 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426 entries, 0 to 425
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   425 non-null    float64
 1   행정동명    426 non-null    object
 2   점포수     425 non-null    float64
 3   면적      425 non-null    object
dtypes: float64(2), object(2)
memory usage: 16.6+ KB

In [ ]:
#넓값이 없는 행정동명 컬럼을 통해 검색
df_mildo[df_mildo['행정동명'].str.contains('종로')]
#종로56동 행정동명 표기법이 다르기에 널값 발생.

          행정동코드         행정동명     점포수    면적
2    11110615.0  종로1.2.3.4가동  4912.0  2.35
111  11110630.0      종로5.6가동  2045.0   NaN
425         NaN      종로5·6가동     NaN   0.6

In [ ]:
#종로56가동 통합
df_mildo.loc[111, '면적'] = 0.60

In [ ]:
#남은 행 삭제
df_mildo = df_mildo.drop(425)

In [ ]:
df_mildo[df_mildo['행정동명'].str.contains('종로')]
#수정 확인

          행정동코드         행정동명     점포수    면적
2    11110615.0  종로1.2.3.4가동  4912.0  2.35
111  11110630.0      종로5.6가동  2045.0   0.6

In [ ]:
df_mildo.info()
#널값 제거 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 424
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   425 non-null    float64
 1   행정동명    425 non-null    object
 2   점포수     425 non-null    float64
 3   면적      425 non-null    object
dtypes: float64(2), object(2)
memory usage: 16.6+ KB

In [ ]:
#단위 면적당 점포 수 계산.(밀집도)
mildo = []
for i in range(len(df_mildo)):
    mildo_ = df_mildo.iloc[i,2] / df_mildo.iloc[i,3]
    mildo.append(mildo_)

In [ ]:
df_new_mildo = df_mildo #병합할 데이터프레임 선언

In [ ]:
df_new_mildo['단위면적당 상권 수(k㎡)'] = mildo

In [ ]:
df_new_mildo.info()
#널값 없음 확인.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 424
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   행정동코드           425 non-null    float64
 1   행정동명            425 non-null    object
 2   점포수             425 non-null    float64
 3   면적              425 non-null    object
 4   단위면적당 상권 수(k㎡)  425 non-null    float64
dtypes: float64(3), object(2)
memory usage: 19.9+ KB

In [ ]:
df_new_mildo = df_new_mildo.astype({'점포수':'int'})
df_new_mildo = df_new_mildo.astype({'행정동코드':'int'})
#데이터 타입 변환

In [ ]:
df_new_mildo = df_new_mildo.reset_index()
del df_new_mildo['index']
#인덱스 초기화

In [ ]:
df_new_mildo

        행정동코드         행정동명   점포수    면적  단위면적당 상권 수(k㎡)
0    11560535         영등포동  2390  1.26     1896.825397
1    11200790          용답동   742  2.31      321.212121
2    11110615  종로1.2.3.4가동  4912  2.35     2090.212766
3    11710561         방이1동   590   0.5     1180.000000
4    11650621         방배4동  1037  0.98     1058.163265
..        ...          ...   ...   ...             ...
420  11560670         신길5동   184  0.47      391.489362
421  11680660         개포1동    67  1.27       52.755906
422  11740520          상일동   570  3.19      178.683386
423  11740690         둔촌1동    16  0.92       17.391304
424  11620685     신사동(관악구)   613  0.64      957.812500

[425 rows x 5 columns]

# 프랜차이즈 데이터 수집 및 전처리

In [ ]:
import pandas as pd
aa = pd.read_csv('서울시_우리마을가게_상권분석서비스(신_상권_점포)_2021년.csv', encoding='cp949')
aa = aa[(aa['상권_구분_코드'].isin(['A','D'])) ##4분기 기준 연도별 프렌차이즈 절대값 수, 비율
          & (aa['기준_년_코드'] == 2021) 
          & (aa['기준_분기_코드'] == 4) 
          & (aa['서비스_업종_코드'].isin(['CS100001','CS100008','CS100009','CS100003','CS100004',
                                   'CS100002','CS100005','CS300002','CS100010']))]
aa['개인사업자_수'] = aa['유사_업종_점포_수'] - aa['프랜차이즈_점포_수']
aa['프랜차이즈_비율'] = aa['프랜차이즈_점포_수'] / (aa['개인사업자_수'] + aa['프랜차이즈_점포_수'])
aa

In [ ]:
#행정동 코드별 개인사업자 수, 프랜차이즈 점포 수 구하기 
aa= aa.groupby(['상권_코드']).agg({"개인사업자_수":"sum","프랜차이즈_점포_수" : "sum"})
aa['프랜차이즈_비율'] = aa['프랜차이즈_점포_수'] / (aa['개인사업자_수'] + aa['프랜차이즈_점포_수'])
ad = pd.read_csv('상권코드_행정동코드.csv')
aa = pd.merge(aa, ad, how='inner', on='상권_코드')
aa = aa.drop(['Unnamed: 0'], axis = 1)

In [ ]:
del aa['상권_코드']

In [ ]:
aa = aa[['행정동_코드', '프랜차이즈_점포_수', '개인사업자_수', '프랜차이즈_비율']]

In [ ]:
aa= aa.groupby(['행정동_코드']).agg({"개인사업자_수":"sum","프랜차이즈_점포_수" : "sum"})
aa['프랜차이즈_비율'] = aa['프랜차이즈_점포_수'] / (aa['개인사업자_수'] + aa['프랜차이즈_점포_수'])
aa

In [ ]:
aa = aa.reset_index()
aa

In [ ]:
#데이터프레임 csv파일로 저장.
aa.to_csv('21_4분기_행정동별_프랜차이즈_점포수_개인사업자 수.csv', encoding="utf-8-sig")

# 프렌차이즈 점포수, 개인사업자 수: 결측치 채우기 및 병합

In [ ]:
# 다른 팀원이 전처리한 데이터 불러오기
df_pr_count1=pd.read_csv('21_4분기_행정동별_프랜차이즈_점포수_개인사업자 수.csv')

In [ ]:
del df_pr_count1['Unnamed: 0']
df_pr_count1
#단위면적당 점포수 데이터프레임과 비교했을때 길이가 다르다.

In [ ]:
#병합을 위해 컬럼명 통일
df_pr_count1 = df_pr_count1.rename(columns={'행정동_코드':'행정동코드'})

In [ ]:
#결측치 확인을 위한 테스트 병합
df_test_sum = pd.merge(df_new_mildo,df_pr_count1, how='outer',on='행정동코드')

In [ ]:
df_test_sum.info()
#행정동코드가 늘어난 것을 보니 일치하지 않는 행정동코드가 있음을 확인
#실제 소상공인상권정보 데이터에서, 같은 행정동이지만 행정동코드가 조금씩 다른 부분이 있다.

In [ ]:
df_test_sum[df_test_sum['행정동명'].isnull()]
#결측치확인

In [ ]:
#행정동코드를 통해 행정동명 찾기 
#df데이터에서는 행정동코드가 10자리임으로 100을 곱해서 넣어줘야한다.
print(df[df['행정동코드'] == 1130559000]['행정동명'].iloc[0]) #번1동 확인

#병합할때 쓰였던 전처리가 완료된 df_new_mildo데이터 프레임에서의 번1동 행정동코드 확인
print(df_new_mildo[df_new_mildo['행정동명'] == '번1동']['행정동코드'].iloc[0])

#출력을 보면 같은 번1동이지만 행정동코드 끝자리가 다름을 확인 이를 수정처리
# 병합할때 쓰였던 전처리가 완료된 df_pr_count1(프렌차이즈데이터)에서 수정.

print(df_pr_count1[df_pr_count1['행정동코드'] == 11305590].index) #인덱스번호 출력
df_pr_count1.loc[128, '행정동코드'] = 11305595 #행정동코드 수정
print(df_pr_count1.loc[128, '행정동코드'] == 11305595) # 바뀌었음을 확인

#같은 방법으로 다른 행정동 코드 수정.

In [ ]:
print(df[df['행정동코드'] == 1130560000]['행정동명'].iloc[0]) #번2동 확인
print(df_new_mildo[df_new_mildo['행정동명'] == '번2동']['행정동코드'].iloc[0])
print(df_pr_count1[df_pr_count1['행정동코드'] == 11305600].index) #인덱스번호 출력
df_pr_count1.loc[129, '행정동코드'] = 11305603 #수정
print(df_pr_count1.loc[129, '행정동코드'] == 11305603) # 바뀌었음을 확인

In [ ]:
print(df[df['행정동코드'] == 1130560600]['행정동명'].iloc[0]) #번3동 확인
print(df_new_mildo[df_new_mildo['행정동명'] == '번3동']['행정동코드'].iloc[0])
print(df_pr_count1[df_pr_count1['행정동코드'] == 11305606].index) #인덱스번호 출력
df_pr_count1.loc[130, '행정동코드'] = 11305608 #수정
print(df_pr_count1.loc[130, '행정동코드'] == 11305608) # 바뀌었음을 확인

In [ ]:
print(df[df['행정동코드'] == 1130561000]['행정동명'].iloc[0]) #수유1동 확인
print(df_new_mildo[df_new_mildo['행정동명'] == '수유1동']['행정동코드'].iloc[0])
print(df_pr_count1[df_pr_count1['행정동코드'] == 11305610].index) #인덱스번호 출력
df_pr_count1.loc[131, '행정동코드'] = 11305615 #수정
print(df_pr_count1.loc[131, '행정동코드'] == 11305615) # 바뀌었음을 확인

In [ ]:
print(df[df['행정동코드'] == 1130562000]['행정동명'].iloc[0]) #수유2동 확인
print(df_new_mildo[df_new_mildo['행정동명'] == '수유2동']['행정동코드'].iloc[0])
print(df_pr_count1[df_pr_count1['행정동코드'] == 11305620].index) #인덱스번호 출력
df_pr_count1.loc[132, '행정동코드'] = 11305625 #수정
print(df_pr_count1.loc[132, '행정동코드'] == 11305625) # 바뀌었음을 확인

In [ ]:
print(df[df['행정동코드'] == 1130563000]['행정동명'].iloc[0]) #수유3동 확인
print(df_new_mildo[df_new_mildo['행정동명'] == '수유3동']['행정동코드'].iloc[0])
print(df_pr_count1[df_pr_count1['행정동코드'] == 11305630].index) #인덱스번호 출력
df_pr_count1.loc[133, '행정동코드'] = 11305635 #수정
print(df_pr_count1.loc[133, '행정동코드'] == 11305635) # 바뀌었음을 확인

In [ ]:
# 행정동코드를 수정하였으니 다시 병합을 진행.
df_test_sum_2 = pd.merge(df_new_mildo,df_pr_count1, how='outer',on='행정동코드')

In [ ]:
df_test_sum_2.info()
#두 데이터프레임의 행정동코드 데이터를 일치시켜 줌으로서 결측치는 한쪽에서만 생김.

In [ ]:
df_test_sum_2[df_test_sum_2['행정동명'].isnull()]
#왼쪽 데이터프레임 결측치는 없다.

In [ ]:
df_test_sum_2[df_test_sum_2['프랜차이즈_점포_수'].isnull()]
#오른쪽 데이터 프레임 결측치 확인
#이 결측치는 소상공인시장진흥공단_상가(상권)정보_서울 데이터에서 널값인 동을 기준으로
#(상권업종대분류명)컬럼을 통해 요식업으로 필터링하여 서울시 2개점포 이상인 (상호명)을
#기준으로 데이터를 가져올 것이다.

In [ ]:
#식음료관련 프렌차이즈만 뽑기
df_food = df[df['상권업종대분류명'] == '음식']

In [ ]:
df_food_ = df_food['상호명'].value_counts().head(10243)
#2개점포 이상인 상호명만 뽑기

In [ ]:
df_food_

In [ ]:
#병합시 결측치가 발생한 행정동
null_dong_pren = df_test_sum_2[df_test_sum_2['프랜차이즈_점포_수'].isnull()]['행정동명'].values

In [ ]:
len(null_dong_pren)

In [ ]:
#널값인 행정동을 기준으로 식음료관련 프렌차이즈만 다시뽐기
#@@@@@@@@@반복문 굉장히 오래걸립니다.(비실행추천)@@@@@@@@@@@
dong_count_pre_ = []
for dong in range(len(null_dong_pren)):
    all_count_ = 0
    if dong >=0 :
        print(dong, null_dong_pren[dong])
        for i in range(len(df_food_)):
            all_count_ = all_count_ + len(df[(df['행정동명'] == null_dong_pren[dong]) & (df['상호명'] == df_food_.index[i])])
            print(i)
                
        dong_count_pre_.append(
            {   
                '행정동코드': int(df[df['행정동명'] ==  null_dong_pren[dong]]['행정동코드'].iloc[0]/100),
                '행정동명': null_dong_pren[dong],
                '프랜차이즈_점포_수': all_count_
            }
        )

In [ ]:
dong_count_pre_
#반복문 결과 확인

In [ ]:
len(dong_count_pre_)

In [ ]:
null_dong_count_pre = pd.DataFrame(dong_count_pre_)
#데이터 프레임으로 변환

In [ ]:
#행정동 코드가 알맞게 들어왔는지 확인 
int(df[df['행정동명'] == '서초4동']['행정동코드'].iloc[0]/100) == int(null_dong_count_pre[null_dong_count_pre['행정동명'] == '서초4동']['행정동코드'])

In [ ]:
#널값인 동들의 개인사업자 수를 알아내기
# 해당 행정동의 (전체 점포 수) - (프렌차이즈 점포 수)
test1 = []
for i in range(len(null_dong_count_pre)):
    ilban = len(df[df['행정동명'] == null_dong_count_pre.iloc[i,1]]) - null_dong_count_pre[null_dong_count_pre['행정동명'] == null_dong_count_pre.iloc[i,1]]['프랜차이즈_점포_수'].iloc[0]
    test1.append(ilban)
test1

In [ ]:
# 구해진 개인사업자 수 데이터프레임에 추가
null_dong_count_pre['개인사업자_수'] = test1

In [ ]:
null_dong_count_pre

In [ ]:
#널값인 동들의 프렌차이즈 수와 개인사업자 수를 구해서 비율계산
test2 = []
for i in range(len(null_dong_count_pre)):
    rate_p = null_dong_count_pre.iloc[i,2] / (null_dong_count_pre.iloc[i,2] + null_dong_count_pre.iloc[i,3])
    test2.append(rate_p)
test2

In [ ]:
# 구해진 프렌차이즈 비율 데이터프레임에 추가
null_dong_count_pre['프랜차이즈 비율'] = test2
null_dong_count_pre

In [ ]:
#기존 데이터프레임에 '행정동명' 컬럼이 없으므로 추가해준다.
#100을 곱한 이유는 위에서 언급햇듯이 df데이터프레임(소상공인상권정보)의 행정동코드는 
#10자리(뒷자리00이 붙는다.) 수이다.

dong_name = []
for i in range(len(df_pr_count1)):
    name = df[df['행정동코드'] == df_pr_count1.iloc[i,0]*100]['행정동명'].iloc[0]
    dong_name.append(name)
dong_name

In [ ]:
# 구한 행정동코드 추가
df_pr_count1['행정동명'] = dong_name

In [ ]:
# 행정동별 점포수를 구할때 '신사동' 구분(관악구, 강남구)을 해줘야 한다. 
df_pr_count1[df_pr_count1['행정동명'] == '신사동']

In [ ]:
df[df['행정동명'] == '신사동'][['도로명주소', '행정동코드']]
#강남구는 11680510, 관악구는 11620685임을 확인

In [ ]:
# 행정동명 수정
df_pr_count1.loc[315, '행정동명'] = '신사동(관악구)'
df_pr_count1.loc[338, '행정동명'] = '신사동(강남구)'

In [ ]:
#기존의 프렌차이즈 점포수 데이터와 추가한(결측치) 데이터 합치기
new_df_pren = df_pr_count1.append(null_dong_count_pre)

In [ ]:
new_df_pren.info()

In [ ]:
#다시 단위면적당상권수 데이터프레임과 행정동별 프렌차이즈 수 데이터프레임 병합
df_test_sum = pd.merge(df_new_mildo,new_df_pren, how='outer',on=['행정동코드', '행정동명'])

In [ ]:
df_test_sum.info()
#결측치 채우기 성공.

In [ ]:
df_test_sum

In [ ]:
#데이터프레임 csv파일로 저장.
#df_test_sum.to_csv('면적_프렌차이즈.csv', encoding="utf-8-sig")

# 2030여성인구데이터 수집 및 전처리

In [ ]:
# 데이터 불러오기
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202112.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()

In [ ]:
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('12월_인구.csv')

In [ ]:
data=pd.read_csv(r"LOCAL_PEOPLE_DONG_202111.csv")
data

In [ ]:
dd=data.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
kk=dd.reset_index()
kk

In [ ]:
dud=kk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('11월_인구.csv')

In [ ]:
duta=pd.read_csv(r"LOCAL_PEOPLE_DONG_202110.csv")
duta

In [ ]:
du=duta.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dddu=du.reset_index()

In [ ]:
dud=dddu.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('10월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202109.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('9월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202108.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('8월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202107.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('7월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202106.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('6월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202105.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('5월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202104.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('4월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202103.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('3월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202102.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('2월_인구.csv')

In [ ]:
df=pd.read_csv(r"LOCAL_PEOPLE_DONG_202101.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수'].mean()
dt

In [ ]:
popp=dt.reset_index()
dud=popp.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','여자15세부터19세생활인구수':'여자20세부터24세생활인구수','여자20세부터24세생활인구수':'여자25세부터29세생활인구수','여자25세부터29세생활인구수':'여자30세부터34세생활인구수','여자30세부터34세생활인구수':'여자35세부터40세생활인구수'})
dud

In [ ]:
dud.to_csv('1월_인구.csv')

In [ ]:
df=pd.read_csv('1월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['1월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','1월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('1월_인구_수정.csv')

In [ ]:
df=pd.read_csv('2월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['2월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','2월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('2월_인구_수정.csv')

In [ ]:
df=pd.read_csv('3월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['3월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','3월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('3월_인구_수정.csv')

In [ ]:
pd.read_csv('3월_인구_수정.csv')

In [ ]:
df=pd.read_csv('4월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['4월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','4월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('4월_인구_수정.csv')

In [ ]:
df=pd.read_csv('5월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['5월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','5월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('5월_인구_수정.csv')

In [ ]:
df=pd.read_csv('6월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['6월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','6월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('6월_인구_수정.csv')

In [ ]:
df=pd.read_csv('7월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['7월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','7월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('7월_인구_수정.csv')

In [ ]:
df=pd.read_csv('8월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['8월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','8월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('8월_인구_수정.csv')

In [ ]:
df=pd.read_csv('9월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['9월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','9월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('9월_인구_수정.csv')

In [ ]:
df=pd.read_csv('10월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['10월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','10월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('10월_인구_수정.csv')

In [ ]:
df=pd.read_csv('11월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['11월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','11월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('11월_인구_수정.csv')

In [ ]:
df=pd.read_csv('12월_인구.csv')
df

In [ ]:
df_c = df[['행정동코드', '총생활인구수']]
df_c

In [ ]:
dt=df.set_index('행정동코드')
dt

In [ ]:
dd=dt.loc[:,['여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터40세생활인구수']]
dd

In [ ]:
dd['12월_2~30대_총평균']=dd.mean(axis=1)
dd

In [ ]:
dd_c=dd.reset_index()
dd_c

In [ ]:
ddd=pd.merge(dd_c, df_c, how='outer', on='행정동코드')
ddd

In [ ]:
du=ddd[['행정동코드','12월_2~30대_총평균','총생활인구수']]
du

In [ ]:
du.to_csv('12월_인구_수정.csv')

In [ ]:
#총생활인구수 대비 2030여성생활인구 비율 컬럼 형성 후 2030여성비율 컬럼만 추출해서 각 월별로 하나의 데이터 프레임에 합치기 위한 작업
df=pd.read_csv('1월_인구_수정.csv')
df

In [ ]:
df['1월_2030여성비율']=df['1월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('1월_인구_비율.csv')

In [ ]:
dt_j=df[['행정동코드','1월_2030여성비율']]
dt_j

In [ ]:
df=pd.read_csv('2월_인구_수정.csv')
df

In [ ]:
df['2월_2030여성비율']=df['2월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('2월_인구_비율.csv')

In [ ]:
dt_f=df[['행정동코드','2월_2030여성비율']]
dt_f

In [ ]:
df=pd.read_csv('3월_인구_수정.csv')
df

In [ ]:
df['3월_2030여성비율']=df['3월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('3월_인구_비율.csv')

In [ ]:
dt_m=df[['행정동코드','3월_2030여성비율']]
dt_m

In [ ]:
df=pd.read_csv('4월_인구_수정.csv')
df

In [ ]:
df['4월_2030여성비율']=df['4월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('4월_인구_비율.csv')

In [ ]:
dt_a=df[['행정동코드','4월_2030여성비율']]
dt_a

In [ ]:
df=pd.read_csv('5월_인구_수정.csv')
df['5월_2030여성비율']=df['5월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('5월_인구_비율.csv')

In [ ]:
dt_may=df[['행정동코드','5월_2030여성비율']]
dt_may

In [ ]:
df=pd.read_csv('6월_인구_수정.csv')
df['6월_2030여성비율']=df['6월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('6월_인구_비율.csv')

In [ ]:
dt_jun=df[['행정동코드','6월_2030여성비율']]
dt_jun

In [ ]:
df=pd.read_csv('7월_인구_수정.csv')
df['7월_2030여성비율']=df['7월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('7월_인구_비율.csv')

In [ ]:
dt_jul=df[['행정동코드','7월_2030여성비율']]
dt_jul

In [ ]:
df=pd.read_csv('8월_인구_수정.csv')
df

In [ ]:
df['8월_2030여성비율']=df['8월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('8월_인구_비율.csv')

In [ ]:
dt_aug=df[['행정동코드','8월_2030여성비율']]
dt_aug

In [ ]:
df=pd.read_csv('9월_인구_수정.csv')
df['9월_2030여성비율']=df['9월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('9월_인구_비율.csv')

In [ ]:
dt_sep=df[['행정동코드','9월_2030여성비율']]
dt_sep

In [ ]:
df=pd.read_csv('10월_인구_수정.csv')
df['10월_2030여성비율']=df['10월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('10월_인구_비율.csv')

In [ ]:
dt_oct=df[['행정동코드','10월_2030여성비율']]
dt_oct

In [ ]:
df=pd.read_csv('11월_인구_수정.csv')
df['11월_2030여성비율']=df['11월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('11월_인구_비율.csv')

In [ ]:
dt_nov=df[['행정동코드','11월_2030여성비율']]
dt_nov

In [ ]:
df=pd.read_csv('12월_인구_수정.csv')
df['12월_2030여성비율']=df['12월_2~30대_총평균']/df['총생활인구수']
del df['Unnamed: 0']
df.to_csv('12월_인구_비율.csv')

In [ ]:
dt_dec=df[['행정동코드','12월_2030여성비율']]
dt_dec

In [ ]:
dt_jf=pd.merge(dt_j, dt_f, how='outer',on='행정동코드')
dt_jf

In [ ]:
dt_jfm=pd.merge(dt_jf, dt_m, how='outer',on='행정동코드')
dt_jfm

In [ ]:
dt_jfma=pd.merge(dt_jfm, dt_a, how='outer',on='행정동코드')
dt_jfma

In [ ]:
dt_jfmam=pd.merge(dt_jfma, dt_may, how='outer',on='행정동코드')
dt_jfmam

In [ ]:
dt_jfmamj=pd.merge(dt_jfmam, dt_jun, how='outer',on='행정동코드')
dt_jfmamj

In [ ]:
dt_jfmamjj=pd.merge(dt_jfmamj, dt_jul, how='outer',on='행정동코드')
dt_jfmamjj

In [ ]:
dt_jfmamjja=pd.merge(dt_jfmamjj, dt_aug, how='outer',on='행정동코드')
dt_jfmamjja

In [ ]:
dt_jfmamjjas=pd.merge(dt_jfmamjja, dt_sep, how='outer',on='행정동코드')
dt_jfmamjjas

In [ ]:
dt_jfmamjjaso=pd.merge(dt_jfmamjjas, dt_oct, how='outer',on='행정동코드')
dt_jfmamjjaso

In [ ]:
dt_jfmamjjason=pd.merge(dt_jfmamjjaso, dt_nov, how='outer',on='행정동코드')
dt_jfmamjjason

In [ ]:
dt_all=pd.merge(dt_jfmamjjason, dt_dec, how='outer',on='행정동코드')
dt_all

In [ ]:
dt_re_all=dt_all.set_index('행정동코드')
dt_re_all['2021년_2030여성_비율평균']=dt_re_all.mean(axis=1)

In [ ]:
dd=dt_re_all.reset_index()
kk=dd.round(4)
kk

In [ ]:
kk.to_csv('2030여성_생활인구_비율_최종.csv')

#점포밀도_프렌차이즈 + 2030여성인구 데이터 병합

In [ ]:
#데이터 불러오기
df_2030=pd.read_csv('2030여성_생활인구_비율_최종.csv')
df_2030

In [ ]:
#필요없는 열 지우기
del df_2030['Unnamed: 0']
df_2030

In [ ]:
#'행정동코드'를 기준으로 밀도_프렌차이즈 데이터와 교통 데이터 테스트 병합
df_test3 = pd.merge(df,df_2030, how='outer',on='행정동코드')#merge함수로 병합

In [ ]:
df_test3.info()
#행정동 코드가 맞지 않는 행이 발생했다.

In [ ]:
df_test3[df_test3['2021년_2030여성_비율평균'].isnull()]
#결측치확인 '항동'의 데이터가 없음을 확인.

# 외국인데이터 수집 및 전처리

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202112.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
#기준일 ID가 인덱스로 열려 데이터 내용이 하나씩 당겨짐->시간대구분이 행정동코드라서 행정동코드 기준으로 groupby 실행
fk=dt.reset_index()       #인덱스를 재설정

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
 #데이터에 알맞는 컬럼명으로 재설정

In [ ]:
dd.to_csv('외국인_12월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202111.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_11월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202110.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_10월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202109.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_9월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202108.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_8월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202107.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()
fk

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_7월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202106.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()
fk

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_6월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202105.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()
fk

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_5월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202104.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_4월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202103.csv")
df

In [ ]:
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_3월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202102.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_2월.csv')

In [ ]:
df=pd.read_csv(r"TEMP_FOREIGNER_DONG_202101.csv")
dt=df.groupby('시간대구분')['행정동코드','총생활인구수','중국인체류인구수'].mean()
fk=dt.reset_index()
fk

In [ ]:
dd=fk.rename(columns={'시간대구분':'행정동코드','행정동코드':'총생활인구수','총생활인구수':'중국인체류인구수','중국인체류인구수':'중국외외국인체류인구수'})
dd.to_csv('외국인_1월.csv')

In [ ]:
df=pd.read_csv('외국인_1월.csv')
dt=df[['행정동코드','총생활인구수']]
dt #중국인과 중국인외 외국인 제외
dt.to_csv('외국인_1월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_2월.csv')
dt=df[['행정동코드','총생활인구수']]
dt.to_csv('외국인_2월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_3월.csv')
dt=df[['행정동코드','총생활인구수']]
dt.to_csv('외국인_3월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_4월.csv')
dt=df[['행정동코드','총생활인구수']]
dt

In [ ]:
dt.to_csv('외국인_4월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_5월.csv')
dt=df[['행정동코드','총생활인구수']]
dt

In [ ]:
dt.to_csv('외국인_5월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_6월.csv')
dt=df[['행정동코드','총생활인구수']]
dt

In [ ]:
dt.to_csv('외국인_6월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_7월.csv')
dt=df[['행정동코드','총생활인구수']]
dt

In [ ]:
dt.to_csv('외국인_7월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_8월.csv')
dt=df[['행정동코드','총생활인구수']]
dt.to_csv('외국인_8월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_9월.csv')
dt=df[['행정동코드','총생활인구수']]
dt.to_csv('외국인_9월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_10월.csv')
dt=df[['행정동코드','총생활인구수']]
dt.to_csv('외국인_10월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_11월.csv')
dt=df[['행정동코드','총생활인구수']]
dt.to_csv('외국인_11월_수정.csv')

In [ ]:
df=pd.read_csv('외국인_12월.csv')
dt=df[['행정동코드','총생활인구수']]
dt.to_csv('외국인_12월_수정.csv')

In [ ]:
df_jan=pd.read_csv('외국인_1월_수정.csv')
df_jan

In [ ]:
dt_jan=df_jan.rename(columns={'총생활인구수':'1월_외국인_총생활인구수'}) #병합 시 이름구별을 위해 총생활인구수 앞에 월 기입

In [ ]:
df_feb=pd.read_csv('외국인_2월_수정.csv')
dt_feb=df_feb.rename(columns={'총생활인구수':'2월_외국인_총생활인구수'})
dt_feb

In [ ]:
dt_feb_c=dt_feb[['행정동코드','2월_외국인_총생활인구수']]
dt_feb_c

In [ ]:
dt_jf=pd.merge(dt_jan, dt_feb_c, how='outer', on='행정동코드')
dt_jf

In [ ]:
df_mar=pd.read_csv('외국인_3월_수정.csv')
dt_mar=df_mar.rename(columns={'총생활인구수':'3월_외국인_총생활인구수'})
dt_mar

In [ ]:
dt_mar_c=dt_mar[['행정동코드','3월_외국인_총생활인구수']]
dt_mar_c

In [ ]:
dt_jfm=pd.merge(dt_jf, dt_mar_c, how='outer', on='행정동코드')
dt_jfm

In [ ]:
df_apr=pd.read_csv('외국인_4월_수정.csv')
df_apr

In [ ]:
dt_apr=df_apr.rename(columns={'총생활인구수':'4월_외국인_총생활인구수'})
dt_apr

In [ ]:
dt_apr_c=dt_apr[['행정동코드','4월_외국인_총생활인구수']]
dt_apr_c

In [ ]:
df_may=pd.read_csv('외국인_5월_수정.csv')
df_may

In [ ]:
dt_may=df_may.rename(columns={'총생활인구수':'5월_외국인_총생활인구수'})
dt_may

In [ ]:
dt_may_c=dt_may[['행정동코드','5월_외국인_총생활인구수']]
dt_may_c

In [ ]:
df_jun=pd.read_csv('외국인_6월_수정.csv')
df_jun

In [ ]:
dt_jun=df_jun.rename(columns={'총생활인구수':'6월_외국인_총생활인구수'})
dt_jun

In [ ]:
dt_jun_c=dt_jun[['행정동코드','6월_외국인_총생활인구수']]
dt_jun_c

In [ ]:
df_jul=pd.read_csv('외국인_7월_수정.csv')
df_jul

In [ ]:
dt_jul=df_jul.rename(columns={'총생활인구수':'7월_외국인_총생활인구수'})
dt_jul

In [ ]:
dt_jul_c=dt_jul[['행정동코드','7월_외국인_총생활인구수']]
dt_jul_c

In [ ]:
df_aug=pd.read_csv('외국인_8월_수정.csv')
df_aug

In [ ]:
dt_aug=df_aug.rename(columns={'총생활인구수':'8월_외국인_총생활인구수'})
dt_aug

In [ ]:
dt_aug_c=dt_aug[['행정동코드','8월_외국인_총생활인구수']]
dt_aug_c

In [ ]:
df_sep=pd.read_csv('외국인_9월_수정.csv')
df_sep

In [ ]:
dt_sep=df_sep.rename(columns={'총생활인구수':'9월_외국인_총생활인구수'})
dt_sep

In [ ]:
dt_sep_c=dt_sep[['행정동코드','9월_외국인_총생활인구수']]
dt_sep_c

In [ ]:
df_oct=pd.read_csv('외국인_10월_수정.csv')
df_oct

In [ ]:
dt_oct=df_oct.rename(columns={'총생활인구수':'10월_외국인_총생활인구수'})
dt_oct

In [ ]:
dt_oct_c=dt_oct[['행정동코드','10월_외국인_총생활인구수']]
dt_oct_c

In [ ]:
df_nov=pd.read_csv('외국인_11월_수정.csv')
df_nov

In [ ]:
dt_nov=df_nov.rename(columns={'총생활인구수':'11월_외국인_총생활인구수'})
dt_nov

In [ ]:
dt_nov_c=dt_nov[['행정동코드','11월_외국인_총생활인구수']]
dt_nov_c

In [ ]:
df_dec=pd.read_csv('외국인_12월_수정.csv')
df_dec

In [ ]:
dt_dec=df_dec.rename(columns={'총생활인구수':'12월_외국인_총생활인구수'})
dt_dec

In [ ]:
dt_dec_c=dt_dec[['행정동코드','12월_외국인_총생활인구수']]
dt_dec_c

In [ ]:
dt_jmfm=pd.merge(dt_jfm, dt_apr_c,how='outer', on='행정동코드') #4월부터 쭉 병합
dt_jmfm

In [ ]:
dt_jmfmj=pd.merge(dt_jmfm, dt_may_c, how='outer', on='행정동코드')
dt_jmfmj

In [ ]:
dt_jfmamj=pd.merge(dt_jmfmj, dt_jun_c, how='outer', on='행정동코드')
dt_jfmamj

In [ ]:
dt_jfmamjj=pd.merge(dt_jfmamj, dt_jul_c, how='outer', on='행정동코드')
dt_jfmamjj

In [ ]:
dt_jfmamjja=pd.merge(dt_jfmamjj, dt_aug_c, how='outer', on='행정동코드')
dt_jfmamjja

In [ ]:
dt_jfmamjjas=pd.merge(dt_jfmamjja, dt_sep_c, how='outer', on='행정동코드')
dt_jfmamjjas

In [ ]:
dt_jfmamjjaso=pd.merge(dt_jfmamjjas, dt_oct_c, how='outer', on='행정동코드')
dt_jfmamjjaso

In [ ]:
dt_jfmamjjason=pd.merge(dt_jfmamjjaso, dt_nov_c, how='outer', on='행정동코드')
dt_jfmamjjason

In [ ]:
dt_all=pd.merge(dt_jfmamjjason, dt_dec_c, how='outer', on='행정동코드')
del dt_all['Unnamed: 0']
dt_all

In [ ]:
dt_re_all=dt_all.set_index('행정동코드')
dt_re_all  #행정동코드까지 평균으로 계산되지 않게 인덱스로 바꿔줌

In [ ]:
dt_re_all['2021년_외국인_평균']=dt_re_all.mean(axis=1)
dt_re_all  #2021년 외국인 총평균 칼럼 추가

In [ ]:
dd=dt_re_all.reset_index()  #인덱스로 만든 행정동코드 컬럼으로 복귀
kk=dd.round(4)
kk
#소수점 4자리수까지 반올림

In [ ]:
kk.to_csv('외국인_총인구_최종.csv')

# 점포밀도_프랜차이즈_2030여성인구 + 외국인 인구 데이터 병합

In [ ]:
#데이터 불러오기
df_foreign=pd.read_csv('외국인_총인구_최종.csv')
df_foreign

In [ ]:
#필요없는 열 제거
del df_foreign['Unnamed: 0']
#'행정동코드'를 기준으로 (밀도_프렌차이즈_2030여성) 데이터와 (외국인 인구) 데이터 병합
df_test4 = pd.merge(df_test3,df_foreign, how='outer',on='행정동코드')#merge함수로 병합

In [ ]:
df_test4.info()

In [ ]:
df_test4[df_test4['2021년_외국인_평균'].isnull()]
#2030대 여성비율 데이터와 외국인 인구 데이터에서 '항동' 데이터 결측치 발생.

In [ ]:
#2030대 여성비율 데이터와 외국인 인구 데이터에서 '항동' 데이터를 구하기 힘드므로 열에서 삭제처리
df_test4 = df_test4.drop(236) #'항동' 열 삭제

In [ ]:
#인덱스 초기화
df_test4 = df_test4.reset_index()
del df_test4['index']
df_test4.info()

## 카페 점포 수 전처리

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('커피숍_제과점_추출.csv')
df.drop(['Unnamed: 0', '기준_년_코드','상권_구분_코드_명', '서비스_업종_코드', '점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '상권_코드_명', '상권_구분_코드', '프랜차이즈_점포_수'], axis=1, inplace=True)

In [ ]:
df

In [ ]:
print(df['기준_분기_코드'].unique())
print(df['서비스_업종_코드_명'].unique())

In [ ]:
df = df.loc[df['기준_분기_코드'] == 4]
df.drop('기준_분기_코드', axis=1, inplace=True)

In [ ]:
df = df.groupby('상권_코드', as_index=False).sum()
df

In [ ]:
df['개인사업자_비율'] = (df['개인사업자_점포수'] / df['유사_업종_점포_수']).round(4)

In [ ]:
df

In [ ]:
df.to_csv('./점포수.csv')

# 문화공간(공연장추가 파일) 전처리

In [ ]:
#필요한 라이브러리 불러오기
import pandas as pd
import numpy as np
import requests, json
pd.set_option('display.max_rows', None)
#문화공간 정보 데이터 불러오기
df_cul = pd.read_csv("서울시 문화공간 정보.csv", encoding="cp949")
df_cul = df[["주제분류", "문화시설명","주소","위도","경도"]]
#문화공간 정보 데이터 결측치 확인
print(df_cul.isnull().sum(),"\n")
print(df_cul["위도"][df_cul["위도"].isnull()]) #df.loc[509]는 동작구청으로 삭제해도 될 것 같음
df_cul.loc[509]는 동작구청이므로 삭제
df_cul.drop([509], axis=0, inplace=True)
df_cul.reset_index(drop=True, inplace=True)

In [ ]:
#위도와 경도 받아서 주소 불러오는 함수
def get_address(lat, lng):
    url = "https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x="+lng+"&y="+lat
    headers = {"Authorization": "KakaoAK c646e246bf7b31cec27b82f03e306284"}
    api_json = requests.get(url, headers=headers)
    address = json.loads(api_json.text)

    return address

In [ ]:
lat = df_cul["위도"].apply(str)
long = df_cul["경도"].apply(str)

ad = []
dong = []
code = []

for i, j in zip(lat,long):
    total = get_address(i,j)
    add = list(m["address_name"] for m in total["documents"])
    cod = list(m["code"] for m in total["documents"])
    
    don = list(m["region_3depth_name"] for m in total["documents"])
    ad.append(add[1])
    code.append(cod[1][0:8]) #행정동코드 10자리->8자리로 맞춤
    dong.append(don[1])

df_result = pd.DataFrame(data= list(zip(ad,dong,code)), columns=["지번주소","행정동","행정동코드"])

#받아온 지번주소, 행정동, 행정동코드를 기존 데이터프레임과 결합
df_merge = pd.merge(df_cul, df_result,left_index=True, right_index=True)
df_merge = df_merge[["주제분류","문화시설명","지번주소","행정동","행정동코드"]]
df_merge.head()

In [ ]:
#61인덱스~750인덱스는 서울 아니므로 행제거
df_merge = df_merge.drop([61,280,532,538,539,678,698,750], axis=0) 
df_1 = df_merge.reset_index(drop=False)

In [ ]:
#25번 인덱스 상일1동->상일동
df_1.loc[25,"행정동"] = '상일동'

In [ ]:
culture = df_1[["주제분류","문화시설명","지번주소","행정동","행정동코드"]] 
culture.head()

In [ ]:
#공연장 정보 데이터 불러오기
df_con = pd.read_csv("서울시 공연장 인허가 정보.csv", encoding="cp949")
df_con = df_con[["상세영업상태명","사업장명","지번주소","좌표정보(X)","좌표정보(Y)"]]
con = df_con.rename(columns = {"사업장명":"문화시설명"})
con = con[con["상세영업상태명"]== "영업중"]
con.isnull().sum() #결측치 확인 => 결측치 없는 지번주소로 행정동 불러오자
con.reset_index(drop=True, inplace=True)

In [ ]:
# 카카오API를 사용하여 주소->행정동 가져오기 (좌표도 가능)
def get_coord(address):
  try:
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
    headers = {"Authorization": "KakaoAK c646e246bf7b31cec27b82f03e306284"}
    api_json = json.loads(str(requests.get(url,headers=headers).text))
    add = list(m["address"] for m in api_json["documents"])
    add1 = add[0]
    h_code = add1["h_code"][0:8] #행정동코드 10자리->8자리로 맞추기
    h_dong = add1["region_3depth_h_name"]
    return h_code, h_dong

  except IndexError:
    return np.nan, np.nan

In [ ]:
address = con["지번주소"]

h_code = []
h_dong = []

for i in address:
    coord = get_coord(i)
    h_code.append(coord[0])
    h_dong.append(coord[1])

con_hang = pd.DataFrame(data= list(zip(h_code, h_dong)), columns=["행정동코드","행정동"])

#받아온 행정동 데이터프레임과 기존 데이터프레임을 결합
con_merge = pd.merge(con, con_hang, left_index=True, right_index=True)
con_merge.head()

In [ ]:
#예외처리로 결측치 준 거 확인
print(con_merge.isnull().sum()) #96개
print(con_merge['행정동코드'][con_merge['행정동코드'].isnull()])
con_merge = con_merge.dropna(subset=['행정동코드']) #결측치인 값들 유의미하지 않아서 제거(지도로 확인함)
con_merge = con_merge[["문화시설명","지번주소","행정동","행정동코드"]]

#주제분류:공연장 열 생성
ctg = []

for i in range(0,len(con_merge)):
    ctg.append("공연장")

con_merge.insert(0,"주제분류",ctg)
con_merge.head()

In [ ]:
#문화시설 행정동 + 공연장 행정동 
total = pd.concat([culture, con_merge])
total.reset_index(drop=True, inplace=True)

#결측치 확인
print(total.isnull().sum(), "\n")
total[total["행정동코드"]=='']

#이상한 값 처리(지번주소가 끝까지 안 나와서 불러올 수 없는..)
total.iloc[1133]["행정동"] = "필동"
total.iloc[1133]["행정동코드"] = "11140570"
total.iloc[1418]["행정동"] = "방배본동"
total.iloc[1418]["행정동코드"] = "11650590"
total.drop([1424], axis=0, inplace=True) #두리춤터는 하나의 공연장임
total.reset_index(drop=True, inplace=True)

In [ ]:
#데이터타입 변환 (행정동코드를 정수형으로)
total = total.astype({"행정동코드":"int"})

#주제분류중 도서관은 유의미하지 않으므로 제거
index_drop = total[total["주제분류"]== "도서관"].index
total_1 = total.drop(index_drop)

#주제분류:기타에서 재단/구청/발전소 등 빼고 의미 있는 데이터 추출(하나하나 확인함)
total_2 = total_1.drop(total_1[total_1["주제분류"]=="기타"].index)
etc = pd.DataFrame()
index=[674,676,677,678,682,683,685,687,689,699,704,707,720,723,731,732,733,738,742,754,756,757,760,764,783,
      455,463,456,468,471,483,485,488,531,507,510,511,512,515,516,526,534,611,615,672,650,
      31,38,148,156,177,183,197,198,206,235,250,250,251,261,264,274,279,280,298,309,316,319,320,327,403,422,426,440]

for i in index:
    etc = etc.append(pd.DataFrame(total_1.loc[i]).transpose())

In [ ]:
total_2 = pd.concat([total_2,etc], ignore_index=True)

In [ ]:
#행정동별로 그룹화
df_count = pd.DataFrame(total_2.groupby(["행정동","행정동코드"]).count()["문화시설명"])
df_count = df_count.rename(columns={"문화시설명":"문화시설수"})
hang_count = df_count.reset_index(["행정동","행정동코드"])

In [ ]:
#행정동 데이터 불러오기
hang = pd.read_csv("행정동_코드.csv", names=["행정동","행정동코드"] ,encoding="utf-8")

#424개의 행정동 데이터와 hang_count데이터 결합
cul_count = pd.merge(hang,hang_count, how="outer", on="행정동코드")
cul_count[:-3]

#데이터프레임 다듬기
cul_count.fillna(0, inplace=True)
cul_count = cul_count[["행정동_x","행정동코드","문화시설수"]][:-3].astype({"문화시설수":"int"})
cul_count = cul_count.rename(columns={"행정동_x":"행정동"})
cul_count.loc[424]=["신사동(관악구)",11620685, 0]

In [ ]:
cul_count.sort_values(by='문화시설수', ascending=False)

In [ ]:
#csv로 내보내기
#cul_count.to_csv("문화공간_행정동.csv", index=False)

# 점포밀도_프랜차이즈_2030여성인구_외국인 인구 + 문화공간 데이터 병합

In [ ]:
#데이터 불러오기
df_mh=pd.read_csv('문화공간_행정동.csv')
df_mh

In [ ]:
#앞서 계속 발생한 행정동코드 불일치데이터 (번1,2,3동/ 수유1,2,3동) 일치화
df_mh.loc[138, '행정동코드'] = 11305595
df_mh.loc[272, '행정동코드'] = 11305603
df_mh.loc[419, '행정동코드'] = 11305608
df_mh.loc[30, '행정동코드'] = 11305615
df_mh.loc[215, '행정동코드'] = 11305625
df_mh.loc[232, '행정동코드'] = 11305635

In [ ]:
#'신사동' 강남구인지 관악구인지 구분.
df_mh.loc[268, '행정동'] = '신사동(강남구)'

In [ ]:
# 관악구 신사동 데이터가 없길래 확인하여 추가로 삽입.
new_data = {
    '행정동' : '신사동(관악구)',
    '행정동코드' : 11620685,
    '문화시설수' : 0
}
df_mh = df_mh.append(new_data, ignore_index=True)

In [ ]:
# '항동' 데이터는 안쓰기로 하여 삭제 처리
df_mh = df_mh.drop(423) #'항동' 열 삭제

In [ ]:
#인덱스 초기화
df_mh = df_mh.reset_index()
del df_mh['index']

In [ ]:
#'행정동코드'를 기준으로 (밀도_프렌차이즈_2030여성인구_외국인인구) 데이터와 (문화시설 수) 데이터 병합
df_test5 = pd.merge(df_test4,df_mh, how='outer',on='행정동코드')#merge함수로 병합df_traffic

In [ ]:
#행정동명 열과 행정동 열이 각각 존재함으로 행정동 열 삭제.
del df_test5['행정동']

In [ ]:
df_test5.info()
#결측치는 없다.

In [ ]:
df_test5
# 점포밀도 + 프렌차이즈 점포 수 + 2030여성비율 + 외국인 인구수 + 문화시설 수

In [ ]:
# df_test5 데이터프레임 csv파일로 저장.
# 점포밀도 + 프렌차이즈 점포 수 + 2030여성비율 + 외국인 인구수 + 문화시설 수
# df_test5.to_csv('점밀_프수_여비_외인_문수2.csv', encoding="utf-8-sig")

# SNS 게시물 갯수 웹 크롤링

In [ ]:
import time
import sys 
import os 

import pandas as pd
import numpy as np

from selenium import webdriver 
import chromedriver_autoinstaller
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains

import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
#필요한 라이브러리 임포트

In [ ]:
sang=pd.read_csv('상권명.csv', encoding="cp949") # 인스타 태그명으로 지정할 키워드 가져오기

In [ ]:
keyword_list = []
for i in range(len(sang)):
    key_word = sang['상권_코드_명'].iloc[i]
    keyword_list.append(key_word)
#상권코드명만 추출

In [ ]:
len(keyword_list)
# 잘 들어왔나 확인.

In [ ]:
login_option = "instagram"
query = keyword_list
user_id = input('아이디를 입력하세요: ')
user_passwd = input('비밀번호를 입력하세요: ')
#변수지정
#사용자 개인의 계정을 입력해줘야 한다.

In [ ]:
# 인스타그램 크롤링을 하면서 발생한 문제점은 한계정당 많게는 3,400개의 키워드 적게는 1,200개의 키워드에 대해서만 태그수를
#가져올 수 있었다.
#왜냐하면 인스타그램 자체에서 계정의 이상현상을 감지시 밴을 먹이는 현상이 생기기 때문이다. 
# 따라서 성공적인 크롤링을 위해선 여러 계정을 돌려가며 크롤링을 실시하였다.
#selenium 같은 경우는 사용자의 본인의 파이썬 버전과 selenium 버전에 따라 문법이 다를 수 있습니다.
# css_celector 또한 인스타그램 내부 사정에따라 달라질 수 있습니다.
fail = []
count = []
path = chromedriver_autoinstaller.install() #드라이버가 따로 없어도 동적 크롤링을 가능하게하는 라이브러리
driver = webdriver.Chrome(path) #드라이버 지정
driver.get(f"https://www.instagram.com") 
time.sleep(10)
id_form = driver.find_element(By.CSS_SELECTOR, "#loginForm > div > div:nth-child(1) > div > label > input") #아이디 입력 폼 찾기
id_form.send_keys(user_id) # 위 변수에 아이디를 지정해 줘야 한다.
time.sleep(5)
pass_word = driver.find_element(By.CSS_SELECTOR, "#loginForm > div > div:nth-child(2) > div > label > input")# 비밀번호 입력 폼 찾기
pass_word.send_keys(user_passwd) # 위 변수에 비밀번호를 지정해 줘야 한다.
time.sleep(7)
                
login = driver.find_element(By.CSS_SELECTOR, '#loginForm > div > div:nth-child(3) > button') #로그인 버튼 찾기
login.click() #로그인 버튼 클릭
time.sleep(10)
for i in range(len(keyword_list)): # 크롤링 하다보면 계정이 ban을 당하기 때문에 그럴때마다 범위를 수정 해 줘야한다.
    try:
        driver.get(f"https://www.instagram.com/explore/tags/{query[i]}") # 해당 주소에 키워드 파라미터를 전해줘서 열어준다.
        time.sleep(10)
        tag_count = driver.find_element(By.CLASS_NAME, "_ac2a") #태그수 찾기
        time.sleep(2)
        count_data = tag_count.text # 태그수 텍스트로 변환
        ct = {
            '상권명' : query[i],
            '태그수' : count_data
        }
        count.append(ct) # 크롤링한 상권명과 태그수를 리스트에 담아준다.
        print(i,query[i], count_data) # i변수도 함께 출력하여 이상발생시 지점파악 용이.
        time.sleep(10)
    except:
        ct = {
            'index' : i,
            '상권명' : query[i],
            '태그수' : count_data
        }
        fail.append(ct) #실패한 부분은 따로 담아준다.
        print('fail',i, query[i])

In [ ]:
count = pd.DataFrame(count)

In [ ]:
#count.to_csv('insta_crawl.csv', encoding="utf-8-sig")



```
# 코드로 형식 지정됨
```

# 활성화_여부 변수 생성

In [ ]:
import pandas as pd

In [ ]:
y = pd.read_csv('insta_crawl.csv')
y.drop(['Unnamed: 0', '상권명'], axis=1, inplace=True)

LookupError: ignored

In [ ]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   게시물_갯수  1260 non-null   int64
dtypes: int64(1)
memory usage: 10.0 KB

In [ ]:
y = y.astype({'게시물_갯수':'float'})

In [ ]:
test = y.sort_values(by='게시물_갯수' ,ascending=False)

In [ ]:
# 게시물 개수 상위 100개(그룹 0)
print(test.iloc[:100].게시물_갯수.max())
print(test.iloc[:100].게시물_갯수.min())

11168483.0
121088.0

In [ ]:
# 게시물 개수 상위 101 ~ 400개(그룹 1)
print(test.iloc[100:400].게시물_갯수.max())
print(test.iloc[100:400].게시물_갯수.min())

120259.0
21720.0

In [ ]:
# 게시물 개수 상위 401 ~ 1241
print(test.iloc[400:].게시물_갯수.max())
print(test.iloc[400:].게시물_갯수.min())

21397.0
0.0

In [ ]:
test

          게시물_갯수
123   11168483.0
1065   9186802.0
1064   9186802.0
634    3868269.0
185    2850744.0
...          ...
1054         0.0
1057         0.0
318          0.0
314          0.0
986          0.0

[1260 rows x 1 columns]

In [ ]:
# 활성화_여부 그룹화
lst = []

for i in range(len(test)):
    if (test['게시물_갯수'][i] >= 161713.0) & (test['게시물_갯수'][i] <= 11168483.0):
        lst.append(0)
    elif (test['게시물_갯수'][i] >= 24232.0) & (test['게시물_갯수'][i] <= 155633.0):
        lst.append(1)
    else:
        lst.append(2)

In [ ]:
lst

In [ ]:
len(lst)

1260

In [ ]:
# 위 리스트를 데이터프레임으로 변환
lst = pd.DataFrame(lst)
lst.columns = ['활성화_여부']

In [ ]:
lst

      활성화_여부
0          2
1          2
2          2
3          2
4          2
...      ...
1255       1
1256       2
1257       2
1258       2
1259       2

[1260 rows x 1 columns]

In [ ]:
lst.to_csv('./sns_test_hm.csv')